
// :after Background Color
@each $color, $value in $theme-colors {
	.bg-#{$color}-after {
		&:after {
			background-color: $value;
		}
	}
}

// :after Background Color
@each $color, $value in $theme-colors {
	.bg-#{$color}-light {
		background-color: rgba($value, 0.2);
	}
}

.text-gray-100 {
	color: $gray-100;
}

.bg-gray-100 {
    background-color: $gray-100;
}

.bg-gray-300 {
    background-color: $gray-300;
}

// Light Text Color
//.text-white-50 {
	//color: rgba($white, 0.65);
//}
