/*
html {
    font-size: 62.5%;
}
*/

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: $primary;
}

hr.light {
    border-color: $white;
}

.page-section {
    padding: 8rem 0;
    min-height: 64rem;
}

svg {
    fill: $primary;
    height: 4em;
}

.muted svg {
    fill: $text-muted;
}