.post-full-title {
    font-size: 5.5rem;
}

.post-full-image {
    background-color: $white;
}

.post-full .author-card {
    display: none;
}

.post-template .navbar {
    position: fixed;
    top: 0;
}

.post-card-content {
    a:hover {
        color: inherit;
    }
}

.post-feed {
    margin: 0 auto;
    padding: 1rem;
}

@include media-breakpoint-up(md) {
    .post-feed {
        padding: 0;
        margin: 45px auto 30px auto;
    }
}
