.post-full-title {
    font-size: 5.5rem;
}

.post-full-image {
    background-color: $white;
}

.post-full .author-card {
    display: none;
}

.post-template .navbar {
    position: fixed;
    top: 0;
}

