.site-title {
    font-size: 5rem;
    line-height: 1em;
    font-weight: 600;
}

.site-description {
    margin: 0;
    padding: 5px 0;
    font-size: 2.1rem;
    line-height: 1.4em;
    font-weight: 400;
    opacity: .8;
}

.site-archive-header .no-image .site-header-content {
    text-align: center;
    padding: 5vw 0 2rem;
    border-bottom: 1px solid $lightgray;
}

.site-archive-header .no-image .site-description {
    color: $midgray;
}

@include media-breakpoint-up(md) {
    text-align: left;
}