// Variables

//- Override and add to color system
$primary:        #03c !default;
$info: 		     #15db95 !default;
$dark:           #171347 !default;
$white:	         #fff !default;
$gray-100:       #f1f6fd !default;
$gray-200:       #eff2f7 !default;
$gray-300:       #e2e8f0 !default;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// Default value is 3
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   1.8 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1.5rem !default;

$btn-font-weight:               600 !default;
$btn-focus-box-shadow:           none !default;

$accordion-button-focus-border-color:     none !default;
$accordion-button-focus-box-shadow:       none !default;

$accordion-button-color:                  $dark !default;

$accordion-border-color:                  $gray-200 !default;
$accordion-button-active-bg:              $white !default;
$accordion-button-active-color:           $primary !default;

//- Override Body
//
// Settings for the `<body>` element.
$body-color:	#718096 !default;

//- Override Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$headings-font-weight:        700 !default;
$headings-color:              $dark !default;
$display-font-weight:         700 !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$font-weight-base:				400 !default

$lead-font-size:              $font-size-base * 1.15 !default;
$lead-font-weight:            $font-weight-base !default;



//- Override Links
//
// Style anchor elements.
$link-decoration:                         none !default;


//- Override Components
//
// Define common padding and border radius sizes and more.
$box-shadow:                  0px 3px 10px 0px rgba(38, 59, 94, 0.1) !default;
$box-shadow-lg:               0px 30px 60px 0px rgba(38, 59, 94, 0.1) !default;

$border-color:                $gray-200 !default;


// Navbar Toggle Button
$navbar-toggler-padding-y:          .57rem !default;


//- Added Extra Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 3.5,
  9: $spacer * 4,
  10: $spacer * 5,
  11: $spacer * 6,
  12: $spacer * 7,
) !default;


// Card

$card-cap-padding-y:               .85rem  !default;
$card-border-color:                 $gray-200 !default;

// Cards
$card-spacer-x:                     1.75rem !default;
$card-spacer-y:                     1.75rem !default;
$card-border-color:                 $gray-200 !default;




// List Group
$list-group-border-color:           $gray-200 !default;
