{{#get "posts" order="published_at desc" limit="4"}}
    <div class="card mt-5">
        <div class="card-header bg-transparent">
            <span class="h5 m-0">Recent Posts</span>
        </div>
        <div class="list-group list-group-flush">
            {{#foreach posts}}
                <a href="{{url}}" class="list-group-item list-group-item-action d-flex py-3">
                    {{#if feature_image}}
                        <img class="rounded me-2 img-fluid" width="48" src="{{img_url feature_image}}" alt="{{title}}">
                    {{/if}}
                    <p class="m-0">{{title}}</p>
                </a>
            {{/foreach}}
        </div>
    </div>
{{/get}}
