<div class="card mt-5">
    <div class="card-header bg-transparent">
        <span class="h5 m-0">Search</span>
    </div>
    <div class="card-body">
        <form class="input-group">
            <input id="blogsearch-input" type="text" class="form-control" placeholder="Search">
            <div id="blogsearch-result"></div>
        </form>
    </div>
</div>
