{{!-- Ghost finder implementation --}}
<div class="card mt-5">
    <div class="card-header bg-transparent">
        <span class="h5 m-0">Search</span>
    </div>
    <div class="card-body">
        <form>
            <input id="blog-search-input" type="text" class="form-control" placeholder="Search">
            <div id="blog-search-result"></div>
        </form>
    </div>
</div>
