{{!-- Ghost finder implementation --}}
<div class="card mt-5">
    <div class="card-header bg-transparent">
        <span class="h5 m-0">Search</span>
    </div>
    <div class="card-body">
        <form data-form-type="search">
            <input data-search-input type="text" class="form-control" placeholder="Search">
            <div data-search-result></div>
        </form>
    </div>
</div>

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/ghost-finder.js"}}"></script>
{{/contentFor}}
