<footer class="bg-dark footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12 my-3 me-auto">
                    <div class="mb-2">
                        <img height="32" src="{{@site.logo}}" title="" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 my-3">
                    <h6 class="text-white">
                        Useful
                    </h6>
                    <ul class="list-unstyled links-white footer-link-1">
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">Development</a>
                        </li>
                        <li>
                            <a href="#">UI/UX Design</a>
                        </li>
                        <li>
                            <a href="#">Online Marketing</a>
                        </li>
                        <li>
                            <a href="#">SEO Marketing</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 my-3">
                    <h6 class="text-white">
                        About
                    </h6>
                    <ul class="list-unstyled links-white footer-link-1">
                        <li>
                            <a href="#">Support Center</a>
                        </li>
                        <li>
                            <a href="#">Customer Support</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Copyright</a>
                        </li>
                        <li>
                            <a href="#">Popular Campaign</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 my-3">
                    <h6 class="text-white">
                        Information
                    </h6>
                    <address>
                        <p class="text-white-50 mb-2">2 Embarcadero Center, San Francisco, CA 94111 USA</p>
                        <p class="mb-2"><a class="text-secondary border-bottom-1 border-secondary" href="mailto:support@domain.com">support@domain.com</a></p>
                        <p class="mb-2"><a class="text-secondary border-bottom-1 border-secondary" href="tel:+1 (800) 555-1212">+1 (800) 555-1212</a></p>
                    </address>
                    <div class="social-icon si-30 secondary nav">
                        <a href="#">{{> icons/themify/facebook}}</a>
                        <a href="#">{{> icons/themify/twitter-alt}}</a>
                        <a href="#">{{> icons/themify/linkedin}}</a>
                        <a href="#">{{> icons/themify/instagram}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-border-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-end my-2">
                    <ul class="nav justify-content-center justify-content-md-start links-white small footer-link-1">
                        <li><a href="#">Privacy &amp; policy</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Get a quote</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-center text-md-end my-2">
                    <p class="m-0 small text-white-50 links-white">© 2020 copyright all rights reserved by <a href="https://www.ghoststead.com/">ghoststead.com</a<</p>
                </div>
            </div>
        </div>
    </div>
</footer>
