<footer class="bg-dark footer">
    <div class="footer-top">
        <div class="container">
            <div class="row g-2">
                <div class="col-6 d-flex justify-content-center footer-widget">
                    <div>
                        <div class="mb-4">
                            <img width="190" src="{{@site.logo}}" title="" alt="">
                        </div>
                        <div class="social-icon si-30 secondary nav">
                            <a href="#">{{> icons/themify/facebook}}</a>
                            <a href="#">{{> icons/themify/twitter-alt}}</a>
                            <a href="#">{{> icons/themify/linkedin}}</a>
                            <a href="#">{{> icons/themify/instagram}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center footer-widget">
                    <div>
                        <h6 class="text-white">
                            Useful
                        </h6>
                        <ul class="list-unstyled links-white footer-link-1">
                            <li>
                                <a href="#">Web Design</a>
                            </li>
                            <li>
                                <a href="#">Development</a>
                            </li>
                            <li>
                                <a href="#">UI/UX Design</a>
                            </li>
                            <li>
                                <a href="#">Online Marketing</a>
                            </li>
                            <li>
                                <a href="#">SEO Marketing</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-border-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-end my-2">
                    <ul class="nav justify-content-center justify-content-md-start links-white small footer-link-1">
                        {{navigation type="secondary"}}
                    </ul>
                </div>
                <div class="col-md-6 text-center text-md-end my-2">
                    <p class="m-0 small text-white-50 links-white">©2020 All Rights Reserved by {{@site.title}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
