<section class="parallax effect-section page-heading" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="mask bg-primary opacity-9"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white h1 mb-4">Blog Grid</h2>
                <ol class="breadcrumb white">
                    <li><a href="#">Home</a></li>
                    <li class="active">Blog Grid</li>
                </ol>
            </div>
        </div>
    </div>
</section>
