<div class="subscribe-form">
    <form class="d-flex flex-row mb-2 p-1 bg-white input-group" data-members-form="subscribe">
        <div class="form-group input-group">
            <input class="subscribe-email form-control rounded-0 border" data-members-email placeholder="youremail@example.com" autocomplete="false" />
            <button class="button primary btn btn-info flex-shrink-0 rounded-0 py-0 px-3" type="submit">
                <span class="button-content fs-4 lh-1">{{> icons/bootstrap/envelope}}</span>
                <span class="button-loader spinner-border text-light"></span>
            </button>
        </div>
        <div class="message-success text-success mt-2">
            <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
        </div>
        <div class="message-error text-danger mt-2">
            Please enter a valid email address!
        </div>
    </form>
</div>
