<div id="thank-you"
     class="bg-white d-flex flex-column justify-content-center align-items-center position-fixed top-0 bottom-0 start-0 end-0 overlay">
    <a class="btn-close p-4 position-fixed top-0 end-0 subscribe-close-button" href="javascript:window.location.href=/^[^?#]+/.exec(window.location.href)[0]"></a>
    <h1>Thank you for contacting {{@site.title}}!</h1>
    <p class="lead">We'll be in touch shortly.</p>
</div>
