<section class="section">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-5 my-3">
                <img class="max-width-auto float-lg-right" src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
            <div class="col-lg-7 my-3">
                <div class="pl-lg-6">
                    <label class="border-bottom-2 text-uppercase font-w-600 text-primary border-secondary mb-3">About</label>
                    <h2 class="mb-3">We’r a dynamic team of creatives people innovation &amp; Marketing Expert.</h2>
                    <p class="mb-3 lead-sm font-w-600">We’ve strong work history with different business services</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="p-15px-t">
                        <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row counter pt-8">
            <div class="col-12 col-md-6 col-lg-3 my-3 text-center">
                <div class="purecounter h1 mb-1" data-purecounter-start="0" data-purecounter-end="650" data-purecounter-duration="2" data-purecounter-delay="10" data-purecounter-once="true">650</div>
                <span class="text-primary font-w-600">Happy clients</span>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-3 text-center">
                <div class="purecounter h1 mb-1" data-purecounter-start="0" data-purecounter-end="987" data-purecounter-duration="2" data-purecounter-delay="9" data-purecounter-once="true">987</div>
                <span class="text-primary font-w-600">Work completed</span>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-3 text-center">
                <div class="purecounter h1 mb-1" data-purecounter-start="0" data-purecounter-end="350" data-purecounter-duration="2" data-purecounter-delay="5" data-purecounter-once="true">350</div>
                <span class="text-primary font-w-600">Award winning</span>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-3 text-center">
                <div class="purecounter h1 mb-1" data-purecounter-start="0" data-purecounter-end="850" data-purecounter-duration="2" data-purecounter-delay="8" data-purecounter-once="true">850</div>
                <span class="text-primary font-w-600">Telephone calls</span>
            </div>
        </div>
    </div>
</section>
