<!-- Home Banner -->
<section id="home" class="bg-primary bg-gradient overflow-hidden">
    <div class="container">
        <div class="row min-vh-100 align-items-center justify-content-center pt-10">
            <div class="col-lg-4 col-xl-3 my-4">
                <div class="swiper-container swiper-white" data-sm="1" data-md="1" data-lg="1" data-xl="1" data-xxl="1" data-spaceBetween="10">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="py-6 px-4 shadow bg-white rounded mb-3">
                                <div class="icon icon-xl rounded-circle bg-gray-100 mb-3 dots-icon text-primary">
                                    {{> icons/et-line/desktop}}
                                    <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <h6 class="mb-3">Web development</h6>
                                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                                <div class="pt-2">
                                    <a href="#" class="btn btn-sm btn-primary">30-day trial</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="py-6 px-4 shadow bg-white rounded mb-3">
                                <div class="icon icon-xl rounded-circle bg-gray-100 mb-3 dots-icon text-primary">
                                    {{> icons/et-line/tools}}
                                    <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <h6 class="mb-3">Logo & identity</h6>
                                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                                <div class="pt-2">
                                    <a href="#" class="btn btn-sm btn-primary">30-day trial</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="py-6 px-4 shadow bg-white rounded mb-3">
                                <div class="icon icon-xl rounded-circle bg-gray-100 mb-3 dots-icon text-primary">
                                    {{> icons/et-line/hotairballoon}}
                                    <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <h6 class="mb-3">Graphics design</h6>
                                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                                <div class="pt-2">
                                    <a href="#" class="btn btn-sm btn-primary">30-day trial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-12 col-lg-8 my-4 ms-auto">
                <img class="max-width-auto" src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Home Banner -->
