<section class="section parallax" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <label class="text-white-light">Feel the futuer</label>
                <h2 class="h1 text-white mb-4"><u>Growth and development</u> are fostered here!</h2>
                <div>
                    <a class="btn btn-light mx-1" href="#">Google play</a>
                    <a class="btn btn-light mx-1" href="#">App store</a>
                </div>
            </div>
        </div>
    </div>
</section>
