<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 my-3 text-center">
                <img class="max-width-auto float-right" src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
            <div class="col-lg-8 my-3">
                <div class="pl-lg-6">
                    <label class="border-bottom-2 text-uppercase font-w-600 text-primary border-secondary">Our Services</label>
                    <h2 class="h1 my-3">We provide wide range of web & business services.</h2>
                    <p class="lead-sm">We’ve strong work history with different business services</p>
                    <div class="row pt-2">
                        <div class="col-md-6 my-3">
                            <div class="media">
                                <div class="icon icon-lg rounded border border-danger text-danger mb-4">
                                    {{> icons/et-line/desktop}}
                                </div>
                                <div class="media-body pl-4">
                                    <h6>Web development</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="media">
                                <div class="icon icon-lg rounded border border-warning text-warning mb-4">
                                    {{> icons/et-line/hotairballoon}}
                                </div>
                                <div class="media-body pl-4">
                                    <h6>Graphics design</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="media">
                                <div class="icon icon-lg rounded border border-info text-info mb-4">
                                    {{> icons/et-line/tools}}
                                </div>
                                <div class="media-body pl-4">
                                    <h6>Logo &amp; Identity</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-3">
                            <div class="media">
                                <div class="icon icon-lg rounded border border-success text-success mb-4">
                                    {{> icons/et-line/scissors}}
                                </div>
                                <div class="media-body pl-4">
                                    <h6>Social marketing</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
