<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <label class="border-bottom border-2 text-uppercase fw-bold text-primary border-info">OUR PRICING</label>
                <h3 class="h1">Not any hidden charge, Choose you pricing plan</h3>
            </div>
        </div>
        <div class="row">
            <!-- Price Table -->
            <div class="col-sm-6 col-lg-3 my-3">
                <div class="shadow-lg bg-white">
                    <div class="text-center py-5 border-style bottom">
                        <label class="bg-primary text-white px-3 rounded fw-normal mb-4">Business</label>
                        <h4 class="h2 m-0">$49</h4>
                    </div>
                    <div class="p-4">
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Drag &amp; drop builder</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">1,000s of Templates ready</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Blog tools</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">eCommerce store</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">30+ Webmaster tools</p></li>
                        </ul>
                    </div>
                    <div class="p-4 pt-6 border-style top text-center">
                        <a class="btn btn-primary" href="#">Let's Start</a>
                    </div>
                </div>
            </div>
            <!-- end Price Table -->
            <!-- Price Table -->
            <div class="col-sm-6 col-lg-3 my-3">
                <div class="shadow-lg bg-white">
                    <div class="text-center py-5 border-style bottom">
                        <label class="bg-primary text-white px-3 rounded fw-normal mb-4">Business</label>
                        <h4 class="h2 m-0">$49</h4>
                    </div>
                    <div class="p-4">
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Drag &amp; drop builder</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">1,000s of Templates ready</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Blog tools</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">eCommerce store</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">30+ Webmaster tools</p></li>
                        </ul>
                    </div>
                    <div class="p-4 pt-6 border-style top text-center">
                        <a class="btn btn-primary" href="#">Let's Start</a>
                    </div>
                </div>
            </div>
            <!-- end Price Table -->
            <!-- Price Table -->
            <div class="col-sm-6 col-lg-3 my-3">
                <div class="shadow-lg bg-primary">
                    <div class="text-center py-5 border-style bottom light">
                        <label class="bg-light text-primary px-3 rounded fw-normal mb-4">Business</label>
                        <h4 class="h2 m-0 text-white">$49</h4>
                    </div>
                    <div class="p-4">
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2 text-white-50">Drag &amp; drop builder</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2 text-white-50">1,000s of Templates ready</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2 text-white-50">Blog tools</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2 text-white-50">eCommerce store</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2 text-white-50">30+ Webmaster tools</p></li>
                        </ul>
                    </div>
                    <div class="p-4 pt-6 border-style top light text-center">
                        <a class="btn btn-light" href="#">Let's Start</a>
                    </div>
                </div>
            </div>
            <!-- end Price Table -->
            <!-- Price Table -->
            <div class="col-sm-6 col-lg-3 my-3">
                <div class="shadow-lg bg-white">
                    <div class="text-center py-5 border-style bottom">
                        <label class="bg-primary text-white px-3 rounded fw-normal mb-4">Business</label>
                        <h4 class="h2 m-0">$49</h4>
                    </div>
                    <div class="p-4">
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Drag &amp; drop builder</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">1,000s of Templates ready</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Blog tools</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">eCommerce store</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">30+ Webmaster tools</p></li>
                        </ul>
                    </div>
                    <div class="p-4 pt-6 border-style top text-center">
                        <a class="btn btn-primary" href="#">Let's Start</a>
                    </div>
                </div>
            </div>
            <!-- end Price Table -->
        </div>
    </div>
</section>
