<section class="section bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
                <label class="border-bottom border-2 text-uppercase font-w-600 text-primary border-info">OUR TEAM</label>
				<h3 class="h1 m-0">Our advisors</h3>
			</div>
		</div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 my-3">
                <div class="shadow-hover hover-top bg-white rounded p-2">
                    <div>
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="p-3 text-center">
                        <div class="nav justify-content-center pb-3">
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/facebook}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/twitter-alt}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/linkedin}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/instagram}}</a>
                        </div>
                        <h6 class="font-w-700 dark-color mb-1">Nancy Bayers</h6>
                        <small>Co-Founder</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 my-3">
                <div class="shadow-hover hover-top bg-white rounded p-2">
                    <div>
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="p-3 text-center">
                        <div class="nav justify-content-center pb-3">
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/facebook}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/twitter-alt}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/linkedin}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/instagram}}</a>
                        </div>
                        <h6 class="font-w-700 dark-color mb-1">Nancy Bayers</h6>
                        <small>Co-Founder</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 my-3">
                <div class="shadow-hover hover-top bg-white rounded p-2">
                    <div>
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="p-3 text-center">
                        <div class="nav justify-content-center pb-3">
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/facebook}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/twitter-alt}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/linkedin}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/instagram}}</a>
                        </div>
                        <h6 class="font-w-700 dark-color mb-1">Nancy Bayers</h6>
                        <small>Co-Founder</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 my-3">
                <div class="shadow-hover hover-top bg-white rounded p-2">
                    <div>
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="p-3 text-center">
                        <div class="nav justify-content-center pb-3">
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/facebook}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/twitter-alt}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/linkedin}}</a>
                            <a href="#" class="avatar avatar-32 rounded-circle bg-primary text-white me-2">{{> icons/themify/instagram}}</a>
                        </div>
                        <h6 class="font-w-700 dark-color mb-1">Nancy Bayers</h6>
                        <small>Co-Founder</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
