{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/home6/banner}}
        {{> sections/home6/feature}}
        {{> sections/home6/about}}
        {{> sections/home6/portfolio}}
        {{> sections/home6/feature2}}
        {{> sections/home6/team}}
        {{> sections/home6/call-to-action}}
        {{> sections/home6/pricing}}
        {{> sections/home6/testimonials}}
        {{> sections/home6/blog}}
        {{> sections/home6/contact}}
    </main>
{{/post}}

{{> footer }}
