{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/careers/page-heading}}
        {{> sections/careers/about-us}}
    </main>
{{/post}}

{{> footer }}
