{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/home8/banner}}
        {{> sections/home8/feature}}
        {{> sections/home8/feature2}}
        {{> sections/home8/feature3}}
        {{> sections/home8/feature4}}
        {{> sections/home8/pricing}}
        {{> sections/home8/testimonials}}
        {{> sections/home8/call-to-action}}
        {{> sections/home8/blog}}
        {{> sections/home8/contact}}
    </main>
{{/post}}

{{> footer }}
