{{!< default}}

{{> header-light}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/home13/banner}}
        {{> sections/home13/feature}}
        {{> sections/home13/feature2}}
        {{> sections/home13/accordion}}
        {{> sections/home13/team}}
        {{> sections/home13/pricing}}
        {{> sections/home13/testimonial}}
        {{> sections/home13/blog}}
    </main>
{{/post}}

{{> footer }}

{{!-- swiper --}}
<script defer src={{asset "built/js/vendor/swiper/swiper.js"}}></script>
