{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/home4/banner}}
        {{> sections/home4/feature}}
        {{> sections/home4/feature2}}
        {{> sections/home4/tab}}
        {{> sections/home4/feature3}}
        {{> sections/home4/call-to-action}}
        {{> sections/home4/pricing}}
        {{> sections/home4/testimonials}}
        {{> sections/home4/call-to-action1}}
        {{> sections/home4/team}}
        {{> sections/home4/blog}}
        {{> sections/home4/subscribe}}
    </main>
{{/post}}

{{> footer }}
