{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/home5/banner}}
        {{> sections/home5/brand}}
        {{> sections/home5/feature}}
        {{> sections/home5/feature2}}
        {{> sections/home5/tab}}
        {{> sections/home5/feature3}}
        {{> sections/home5/call-to-action}}
        {{> sections/home5/pricing}}
        {{> sections/home5/testimonials}}
        {{> sections/home5/call-to-action1}}
        {{> sections/home5/team}}
        {{> sections/home5/blog}}
        {{> sections/home5/subscribe}}
    </main>
{{/post}}

{{> footer }}
