{{!< default}}

{{!-- The main content area --}}
{{#post}}
    {{> header}}

    <main id="site-main" class="site-main">
        {{> sections/home14/banner}}
		{{> sections/home14/feature}}
		{{> sections/home14/tabs}}
		{{> sections/home14/feature-2}}
		{{> sections/home14/feature-3}}
		{{> sections/home14/feature-4}}
        {{> sections/home14/feature-5}}
        {{> sections/home14/team}}
        {{> sections/home14/testimonials}}
        {{> sections/home14/pricing}}
        {{> sections/home14/blog}}
        {{> sections/home14/contact}}
    </main>

    {{> footer }}

{{/post}}
