{{!< default}}

{{!-- The main content area --}}
{{#post}}
    {{> header}}

    <main id="site-main" class="site-main">
        {{> sections/home10/banner}}
        {{> sections/home10/tab}}
        {{> sections/home10/feature}}
        {{> sections/home10/feature2}}
        {{> sections/home10/feature3}}
        {{> sections/home10/revenues}}
        {{> sections/home10/team}}
        {{> sections/home10/pricing}}
        {{> sections/home10/testimonial}}
        {{> sections/home10/call-to-action}}
    </main>
{{/post}}

{{> footer }}
