{{!< default}}

{{!-- The main content area --}}
{{#post}}
    {{> header}}
    
    <main id="site-main" class="site-main">
        {{> sections/home9/banner}}
        {{> sections/home9/feature}}
        {{> sections/home9/feature2}}
        {{> sections/home9/feature3}}
        {{> sections/home9/feature4}}
        {{> sections/home9/tab}}
        {{> sections/home9/pricing}}
        {{> sections/home9/team}}
        {{> sections/home9/blog}}
        {{> sections/home9/call-to-action}}
    </main>
{{/post}}

{{> footer }}
