{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/home12/banner}}
        {{> sections/home12/feature}}
        {{> sections/home12/counter}}
        {{> sections/home12/feature2}}
        {{> sections/home12/team}}
        {{> sections/home12/pricing}}
        {{> sections/home12/testimonial}}
        {{> sections/home12/blog}}
    </main>
{{/post}}

{{> footer }}

{{!-- swiper --}}
<script src={{asset "built/js/vendor/swiper/swiper.js"}}></script>