{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> page-heading}}
        {{> sections/price/price}}
        {{> sections/price/price-1}}
        {{> sections/price/price-2}}
        {{> sections/price/price-3}}
        {{> sections/price/price-4}}
        {{> sections/price/price-5}}
        {{> sections/price/price-6}}
    </main>
{{/post}}

{{> footer }}
