{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/home2/banner}}
        {{> sections/home2/brand}}
        {{> sections/home2/feature}}
        {{> sections/home2/feature2}}
        {{> sections/home2/content}}
        {{> sections/home2/portfolio}}
        {{> sections/home2/counter}}
        {{> sections/home2/price}}
        {{> sections/home2/testimonials}}
        {{> sections/home2/call-top-action}}
        {{> sections/home2/team}}
        {{> sections/home2/blog}}
        {{> sections/home2/contact}}    </main>
{{/post}}

{{> footer }}
