{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/home3/banner}}
        {{> sections/home3/feature}}
        {{> sections/home3/feature2}}
        {{> sections/home3/tab}}
        {{> sections/home3/call-to-action}}
        {{> sections/home3/feature3}}
        {{> sections/home3/counter}}
        {{> sections/home3/pricing}}
        {{> sections/home3/testimonials}}
        {{> sections/home3/call-to-action2}}
        {{> sections/home3/team}}
        {{> sections/home3/blog}}
        {{> sections/home3/contact}}
    </main>
{{/post}}

{{> footer }}
