{{!< default}}

{{!-- The main content area --}}
{{#post}}
    {{> header-light}}

    <main id="site-main" class="site-main">
        {{> sections/home15/banner}}
		{{> sections/home15/feature}}
		{{> sections/home15/tabs}}
		{{> sections/home15/feature-2}}
		{{> sections/home15/feature-3}}
		{{> sections/home15/feature-4}}
        {{> sections/home15/feature-5}}
        {{> sections/home15/team}}
        {{> sections/home15/testimonials}}
        {{> sections/home15/pricing}}
        {{> sections/home15/blog}}
        {{> sections/home15/contact}}
    </main>

    {{> footer }}

{{/post}}