{{!< default}}
{{> header}}
{{> sections/home1/banner}}
{{> sections/home1/feature}}
{{> sections/home1/feature-2}}
{{> sections/home1/video}}
{{!-- The main content area --}}
{{> footer }}

<!--
{{#page}}
    {{> header}}
    <main id="site-main" class="site-main">
    </main>
    {{> footer }}
{{/page}}
-->
