{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/home7/banner}}
        {{> sections/home7/feature}}
        {{> sections/home7/feature2}}
        {{> sections/home7/feature3}}
        {{> sections/home7/feature4}}
        {{> sections/home7/counter}}
        {{> sections/home7/portfolio}}
        {{> sections/home7/blog}}
        {{> sections/home7/call-to-action}}
    </main>
{{/post}}

{{> footer }}
