{{!< default}}
{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        <section class="bg-dark">
            <div class="container">
                <div class="row justify-content-center min-vh-100 align-items-center py-8">
                    <div class="col-lg-8 text-center">
                        <h1 class="display-3 text-white mb3">404 - Page not found..</h1>
                        <p class="h4 text-white">Whoops, it looks like the page you request wasn't found.</p>
                        <div class="my-6">
                            <img src="{{asset "images/900x550.jpg"}}" title="" alt="">
                        </div>
                        <div>
                            <a class="btn btn-light" href="#">Back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{{/post}}
