{{!< default}}

{{!-- The main content area --}}
{{#page}}
    {{> header}}

    <main id="site-main" class="site-main">
        {{> sections/home0/banner}}

        <section id="about" class="py-5 bg-gray-100">
            <div class="container text-center section-title my-5">
                {{content}}
            </div>
        </section>

        {{> sections/home0/blog}}
        {{> sections/home0/contact}}
    </main>

    {{> footer }}

{{/page}}
