{{!< default}}

{{!-- The main content area --}}
{{#page}}
    {{> header}}

    <main id="site-main" class="site-main">
        {{> sections/home0/banner}}
		{{> sections/home0/feature}}
		{{> sections/home0/tabs}}
		{{> sections/home0/feature-2}}
		{{> sections/home0/feature-3}}
		{{> sections/home0/feature-4}}
        {{> sections/home0/feature-5}}
        {{> sections/home0/team}}
        {{> sections/home0/testimonials}}
        {{> sections/home0/pricing}}
        {{> sections/home0/blog}}
        {{> sections/home0/contact}}
    </main>

    {{> footer }}

{{/page}}
