{{!< default}}

{{!-- The main content area --}}
{{#page}}
    {{> header}}

    <main id="site-main" class="site-main">
        {{> sections/home0/banner}}
        {{> sections/home0/feature-1}}
        {{> sections/home0/blog}}
        {{> sections/home0/contact}}
    </main>

    {{> footer }}

{{/page}}
