{{!< default}}

{{!-- The main content area --}}
{{> header}}

<main id="site-main" class="site-main">
    {{> header-background background=@site.cover_image}}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white display-5 mb-4">{{@site.title}}</h2>
                <p class="lead text-white">{{@site.description}}</p>
            </div>
        </div>
    </div>
    </div>
    <section class="post-feed my-3 mx-auto py-1 px-0 p-md-0 my-md-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2">
                {{#foreach posts limit=9}}
                    {{> "post-card"}}
                {{/foreach}}
                <div class="col-12 col-sm-12 pt-3">
                    {{pagination}}
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer }}
