{{!< default}}

{{!-- The main content area --}}
{{> header-inner}}

<main id="site-main" class="site-main">
    {{> blog-heading}}
    <section id="home" class="section post-feed">
        <div class="container">
            <div class="row">
                <!-- Blog List -->
                <div class="col-lg-8">
                    <div class="row row-cols-1 row-cols-sm-2">
                        {{#foreach posts limit=9}}
                            {{> "post-card"}}
                        {{/foreach}}
                        <div class="col-12 col-sm-12 pt-3">
                            {{pagination}}
                        </div>
                    </div>
                </div>
                <!-- Widget -->
                <div class="col-lg-4 mt-5 mt-lg-0 pl-xl-8">
                    {{#if @labs.members}}
                        {{> subscribe-form}}
                    {{/if}}
                    {{> blog-search}}
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer }}
