{{!< default}}

{{!-- The main content area --}}
{{> header}}

<main id="site-main" class="site-main">
    {{> page-heading}}
    <section class="section post-feed">
        <div class="container">
            <div class="row">
                <!-- Blog List -->
                <div class="col-lg-8">
                    <div class="row">
                        {{#foreach posts limit=9}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </div>
                <!-- Widget -->
                <div class="col-lg-4 mt-5 mt-lg-0 pl-xl-8">
                    {{> sections/blog-sidebar/blog-widget}}
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer }}
