{{!< default}}

{{!-- The main content area --}}
{{> header}}

<main id="site-main" class="site-main">
    {{> page-heading}}
    <section id="home" class="section post-feed">
        <div class="container">
            <div class="row">
                <!-- Blog List -->
                <div class="col-lg-8">
                    <div class="row">
                        {{#foreach posts limit=9}}
                            {{> "post-card"}}
                        {{/foreach}}
                        <div class="col-12 pt-3">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Widget -->
                <div class="col-lg-4 mt-5 mt-lg-0 pl-xl-8">
                    {{> sections/blog-sidebar/blog-widget}}
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer }}
