{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/pricing/page-heading}}
        {{> sections/pricing/pricing}}
        {{> sections/pricing/pricing-1}}
        {{> sections/pricing/pricing-2}}
        {{> sections/pricing/pricing-3}}
        {{> sections/pricing/pricing-4}}
        {{> sections/pricing/pricing-5}}
        {{> sections/pricing/pricing-6}}
    </main>
{{/post}}

{{> footer }}
