{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> page-heading}}
        {{> sections/aboutus/feature}}
        {{> sections/aboutus/content}}
        {{> sections/aboutus/tab}}
        {{> sections/aboutus/counter}}
        {{> sections/aboutus/team}}
    </main>
{{/post}}

{{> footer }}
