{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/about/page-heading}}
        {{> sections/about/feature}}
        {{> sections/about/content}}
        {{> sections/about/tab}}
        {{> sections/about/counter}}
        {{> sections/about/team}}
    </main>
{{/post}}

{{> footer }}
