{{!< default}}
{{> header}}
{{> page-heading}}

<section id="home" class="section post-feed">
    <div class="container">
        <div class="row">
            <!-- Blog List -->
            <div class="row row-cols-1 row-cols-sm-2">
                {{#get "posts" limit="all" order="published_at desc"}}
                    {{#foreach posts limit=9}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </div>
</section>

{{> footer }}
