{{!< default}}

{{> header-inner}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> page-heading}}
        {{> sections/services/feature}}
        {{> sections/services/feature-2}}
        {{> sections/services/feature-3}}
        {{> sections/services/pricing}}
        {{> sections/services/testimonials}}
    </main>
{{/post}}

{{> footer }}