{{!< default}}

{{> header-inner}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> page-heading}}
        {{> sections/portfolio/portfolio}}
        {{> sections/portfolio/counter}}
        {{> sections/portfolio/pricing}}
        {{> sections/portfolio/testimonials}}
        {{> sections/portfolio/call-top-action}}
    </main>
{{/post}}

{{> footer }}
