{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> page-heading}}
        {{> sections/team/team}}
        {{> sections/team/team-1}}
        {{> sections/team/team-2}}
        {{> sections/team/team-3}}
    </main>
{{/post}}

{{> footer }}
