{{!< default}}

{{> header-inner}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> page-heading}}
        {{> sections/faq/faq}}
        {{> sections/faq/help}}
    </main>
{{/post}}

{{> footer }}
