{{!< default}}

{{> header-inner}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> page-heading}}
        {{> sections/policy/policy}}
    </main>
{{/post}}

{{> footer }}
