{{!< default}}
{{> header}}

<main id="site-main" class="site-main">
    <section class="parallax effect-section position-relative overflow-hidden page-heading"
             style="background-image: url({{asset "images/1600x900.jpg"}});">
        <div class="mask bg-primary opacity-9"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white h1 mb-4">{{@site.title}}</h2>
                    <ol class="breadcrumb white">
                        <li><a href="/">Home</a></li>
                        <li class="active">{{@site.title}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="post-feed px-0 py-8">
        <div class="container">
            <!-- Blog List -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                {{#get "posts" limit="all" order="published_at desc"}}
                    {{#foreach posts limit=9}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>
</main>
{{> footer }}

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/jarallax.js"}}"></script>
{{/contentFor}}
