{{!< default}}

{{> header-inner}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/support/page-heading}}
        {{> sections/support/topic}}
        {{> sections/support/get-start}}
        {{> sections/support/questions}}
        {{> sections/support/help}}
    </main>
{{/post}}

{{> footer }}
