{{!< default}}
{{> header-inner}}


<main id="site-main" class="site-main">
    {{> blog-heading}}
    <section class="section post-feed">
        <div class="container">
            <div class="row">
                <!-- Blog List -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                    {{#get "posts" limit="all" order="published_at desc"}}
                        {{#foreach posts limit=9}}
                            {{> "post-card"}}
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer }}
