{{!< default}}

{{> header}}

{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/support-topic/page-heading}}
        {{> sections/support-topic/content}}
        {{> sections/support-topic/help}}
    </main>
{{/post}}

{{> footer }}
