{{!< default}}
{{!-- The main content area --}}
{{#post}}
    <main id="site-main" class="site-main">
        <section class="bg-center bg-cover bg-fiexd effect-section" style="background-image: url({{asset "images/1600x900.jpg"}});">
            <div class="container">
                <div class="row justify-content-center min-vh-100 align-items-center">
                    <div class="col-lg-8 text-center">
                        <div class="mb-4">
                            <img width="250" src="{{@site.logo}}" alt="{{@site.title}}"/>
                        </div>
                        <h1 class="display-2 text-white mb-3">We're coming soon..</h1>
                        <p class="h5 text-white-50 pb-2 font-w-400">Our website is under construction. We'll be here soon with our new awesome site.</p>
                        <div class="text-white">
                            <div class="count-down pt-4" id="clock_time3" data-date="2025-01-01">
                                <div class="date-box"><span class="days">00</span> <label>days</label></div>
                                <div class="date-box"><span class="hours">00</span> <label>hr</label></div>
                                <div class="date-box"><span class="minutes">00</span> <label>min</label></div>
                                <div class="date-box"><span class="seconds">00</span> <label>sec</label></div>
                            </div>
                        </div>
                        <div class="pt-6">
                            <a class="btn btn-light" href="#">Back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{{/post}}

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/easy-timer.js"}}"></script>
{{/contentFor}}
