{{!< default}}

{{> header}}

{{#post}}
    <main id="site-main" class="site-main">
        {{> sections/blog-detail-sidebar/heading}}
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="post-article">
                            {{content}}
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5 mt-lg-0 pl-xl-8">
                        {{> sections/blog-sidebar/blog-widget}}
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{!-- Email subscribe form at the bottom of the page --}}
{{/post}}

{{> footer}}
