{{!< default}}

{{> header-inner}}

<main id="site-main" class="site-main">
    <section class="parallax effect-section page-heading" style="background-image: url({{asset "images/1600x900.jpg"}});">
        <div class="mask bg-primary opacity-9"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white h1 mb-4">Tags</h2>
                    <ol class="breadcrumb white">
                        <li><a href="/">Home</a></li>
                        <li class="active">Tags</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="my-5 post-feed post-feed-tag">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
                        {{#foreach posts limit=9}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer }}
