{{!< default}}

{{#tag}}
{{> header-inner}}
{{/tag}}

<main id="site-main" class="site-main">
    <section class="parallax effect-section page-heading" style="background-image: url({{asset "images/1600x900.jpg"}});">
        <div class="mask bg-primary opacity-9"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white h1 mb-4">Tags</h2>
                    <ol class="breadcrumb white">
                        <li><a href="/">Home</a></li>
                        <li class="active">Tags</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="post-feed post-tag-feed">
        <div class="container">
            <div class="row">
                <!-- Blog List -->
                <div class="col-lg-8">
                    <div class="row row-cols-1 row-cols-sm-2">
                        {{#foreach posts limit=9}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </div>
                <!-- Widget -->
                <div class="col-lg-4 mt-5 mt-lg-0 ps-xl-8">
                    {{#if @labs.members}}
                        <div class="card blog-subscribe">
                            <div class="card-header bg-transparent">
                                <span class="h5 m-0">Subscribe</span>
                            </div>
                            <div class="card-body">
                                {{> subscribe-form}}
                            </div>
                        </div>
                    {{/if}}
                    {{> blog-search}}
                    {{> blog-recent-post}}
                    {{> blog-tag}}
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer }}
