{{!< default}}

{{#tag}}
<header class="site-archive-header">
    {{> navbar }}
    {{> header-background background=feature_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="container site-header-content">
            <h1 class="site-title">{{name}}</h1>
            <h2 class="site-description">
                {{#if description}}
                {{description}}
                {{else}}
                A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </h2>
        </div>
    </div>
</header>
{{/tag}}

<main id="site-main" class="site-main">
    <section class="container post-feed">
        <div class="row row-cols-1 row-cols-md-3">
            {{#foreach posts limit=9}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </section>
</main>

{{> footer }}