/* 4.1 Home header
/* ---------------------------------------------------------- */

.site-home-header {
    z-index: 1000;
}

.site-home-header .site-header-background {
    margin-top: 0;
}

.site-home-header .site-header-content {
    padding: 5vw 3vw 6vw;
}

.site-home-header .site-title {
    font-size: 5.5rem;
    text-align: center;
}

.site-home-header .site-description {
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
}
