/* 7.4. Related posts
/* ---------------------------------------------------------- */

.read-next {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: scale_color($darkgrey, $lightness: -5%);
}

.read-next-feed {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    padding: 60px 0 0 0;
}

.read-next .post-card {
    padding-bottom: 0;
    border-bottom: none;
}

.read-next .post-card:after {
    display: none;
}

.read-next .post-card-primary-tag {
    color: #fff;
    opacity: 0.6;
}

.read-next .post-card-title {
    color: #fff;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.read-next .post-card:hover .post-card-image {
    opacity: 1.0;
}

.read-next .post-card-excerpt {
    color: rgba(255, 255, 255, 0.6);
}

.read-next .static-avatar {
    border-color: #000;
}

.read-next .post-card-byline-content {
    color: rgba(255, 255, 255, 0.6);
}

.read-next .post-card-byline-content a {
    color: rgba(255, 255, 255, 0.8);
}

.read-next-card {
    position: relative;
    flex: 0 1 326px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 25px 50px;
    padding: 25px;
    background: linear-gradient(
                    scale_color($darkgrey, $lightness: +2%),
                    scale_color($darkgrey, $lightness: -5%)
    );
    border-radius: 3px;
}

.read-next-card a {
    transition: all 0.2s ease-in-out;
}

.read-next-card a:hover {
    text-decoration: none;
}

.read-next-card-header h3 {
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.read-next-card-header h3 a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.8;
}

.read-next-card-header h3 a:hover {
    opacity: 1;
}

.read-next-card-content {
    font-size: 1.7rem;
}

.read-next-card-content ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.read-next-card-content li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 20px 0;
    border-bottom: rgba(255, 255, 255, 0.1);
}

.read-next-card-content li:last-of-type {
    padding-bottom: 5px;
    border: none;
}

.read-next-card-content h4 {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.35em;
    font-weight: 600;
}

.read-next-card-content li a {
    display: block;
    color: #fff;
    opacity: 0.8;
}

.read-next-card-content li a:hover {
    opacity: 1;
}

.read-next-card-excerpt {
    overflow: hidden;
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 1.2em;
    text-overflow: ellipsis;
}

.read-next-card-meta {
    margin-top: 2px;
    font-size: 1.2rem;
    line-height: 1.4em;
    font-weight: 400;
}

.read-next-card-meta p {
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
}

.read-next-card-footer {
    position: relative;
    margin: 40px 0 5px;
}

.read-next-card-footer a {
    padding: 7px 12px 8px 14px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.3rem;
    border-radius: 999px;
    transition: all 0.35s ease-in-out;
}

.read-next-card-footer a:hover {
    border-color: $yellow;
    color: $yellow;
    text-decoration: none;
}

@media (max-width: 1170px) {
    .read-next-card {
        flex: 1 1 261px;
        margin-bottom: 5vw;
    }
}

@media (max-width: 650px) {
    .read-next-feed {
        flex-direction: column;
        padding: 25px 0 0;
    }

    .read-next-card {
        flex: 1 1 auto;
        margin: 0 25px;
        padding: 0;
        background: none;
    }

    .read-next .post-card {
        flex: 1 1 auto;
        margin: 25px;
        padding: 25px 0 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}
