/* 3. Special Template Styles
/* ---------------------------------------------------------- */

@media (min-width: 900px) {
    .home-template .post-feed,
    .tag-template .post-feed,
    .author-template .post-feed {
        padding: 40px 0 5vw;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .home-template .site-nav {
        position: relative;
    }
}
