<!-- Section -->
<section class="section bg-gray-100">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-3 sticky-lg-top">
                <div class="card mb-5 shadow-lg">
                    <div class="list-group list-group-flush">
                        <a href="#basics" class="list-group-item list-group-item-action d-flex justify-content-between py-3">
                            <div class="d-flex align-items-center">
                                <span class="only-icon only-icon-xs d-inline-flex">
                                    {{> icons/themify/help}}
                                </span>
                                <span class="ps-2">Theme integration</span>
                            </div>
                            <span>
                                {{> icons/bootstrap/chevron-right}}
                            </span>
                        </a>
                        <a href="#syncing" class="list-group-item list-group-item-action d-flex justify-content-between py-3">
                            <div class="d-flex align-items-center">
                                <span class="only-icon only-icon-xs d-inline-flex">
                                    {{> icons/themify/help}}
                                </span>
                                <span class="ps-2">Customization</span>
                            </div>
                            <span>
                                {{> icons/bootstrap/chevron-right}}
                            </span>
                        </a>
                        <a href="#account" class="list-group-item list-group-item-action d-flex justify-content-between py-3">
                            <div class="d-flex align-items-center">
                                <span class="only-icon only-icon-xs d-inline-flex">
                                    {{> icons/themify/help}}
                                </span>
                                <span class="ps-2">Fonts and colors</span>
                            </div>
                            <span>
                                {{> icons/bootstrap/chevron-right}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 ms-lg-auto">
                <div id="basics">
                    <h3>Our Basic Helps!</h3>
                    <div class="accordion shadow bg-white mt-3" id="accordionExample_01">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_01_1">
                                <button class="py-3 bg-white accordion-button font-w-600" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_1" aria-expanded="true" aria-controls="collapse_01_1">
                                    Can I change plans later on?
                                </button>
                            </h2>
                            <div id="collapse_01_1" class="accordion-collapse collapse show" aria-labelledby="heading_01_1" data-bs-parent="#accordionExample_01">
                                <div class="accordion-body border-left-2 border-primary">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_01_2">
                                <button class="py-3 bg-white accordion-button font-w-600 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_2" aria-expanded="false" aria-controls="collapse_01_2">
                                    What is the difference between Pro and Ultimate?
                                </button>
                            </h2>
                            <div id="collapse_01_2" class="accordion-collapse collapse" aria-labelledby="heading_01_2" data-bs-parent="#accordionExample_01">
                                <div class="accordion-body border-left-2 border-primary">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_01_3">
                                <button class="py-3 bg-white accordion-button font-w-600 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_01_3" aria-expanded="false" aria-controls="collapse_01_3">
                                    Can I try before I buy?
                                </button>
                            </h2>
                            <div id="collapse_01_3" class="accordion-collapse collapse" aria-labelledby="heading_01_3" data-bs-parent="#accordionExample_01">
                                <div class="accordion-body border-left-2 border-primary">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="syncing" class="pt-6">
                    <h3>Our Syncing Helps!</h3>
                    <div class="accordion shadow bg-white mt-3" id="accordionExample_02">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_02_1">
                                <button class="py-3 bg-white accordion-button font-w-600" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_02_1" aria-expanded="true" aria-controls="collapse_02_1">
                                    Can I change plans later on?
                                </button>
                            </h2>
                            <div id="collapse_02_1" class="accordion-collapse collapse show" aria-labelledby="heading_02_1" data-bs-parent="#accordionExample_02">
                                <div class="accordion-body border-left-2 border-primary">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_02_2">
                                <button class="py-3 bg-white accordion-button font-w-600 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_02_2" aria-expanded="false" aria-controls="collapse_02_2">
                                    What is the difference between Pro and Ultimate?
                                </button>
                            </h2>
                            <div id="collapse_02_2" class="accordion-collapse collapse" aria-labelledby="heading_02_2" data-bs-parent="#accordionExample_02">
                                <div class="accordion-body border-left-2 border-primary">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_02_3">
                                <button class="py-3 bg-white accordion-button font-w-600 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_02_3" aria-expanded="false" aria-controls="collapse_02_3">
                                    Can I try before I buy?
                                </button>
                            </h2>
                            <div id="collapse_02_3" class="accordion-collapse collapse" aria-labelledby="heading_02_3" data-bs-parent="#accordionExample_02">
                                <div class="accordion-body border-left-2 border-primary">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="account" class="pt-6">
                    <h3>Our Account Helps!</h3>
                    <div class="accordion shadow bg-white mt-3" id="accordionExample_03">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_03_1">
                                <button class="py-3 bg-white accordion-button font-w-600" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_03_1" aria-expanded="true" aria-controls="collapse_03_1">
                                    Can I change plans later on?
                                </button>
                            </h2>
                            <div id="collapse_03_1" class="accordion-collapse collapse show" aria-labelledby="heading_03_1" data-bs-parent="#accordionExample_03">
                                <div class="accordion-body border-left-2 border-primary">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_03_2">
                                <button class="py-3 bg-white accordion-button font-w-600 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_03_2" aria-expanded="false" aria-controls="collapse_03_2">
                                    What is the difference between Pro and Ultimate?
                                </button>
                            </h2>
                            <div id="collapse_03_2" class="accordion-collapse collapse" aria-labelledby="heading_03_2" data-bs-parent="#accordionExample_03">
                                <div class="accordion-body border-left-2 border-primary">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_04_3">
                                <button class="py-3 bg-white accordion-button font-w-600 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_04_3" aria-expanded="false" aria-controls="collapse_04_3">
                                    Can I try before I buy?
                                </button>
                            </h2>
                            <div id="collapse_04_3" class="accordion-collapse collapse" aria-labelledby="heading_04_3" data-bs-parent="#accordionExample_03">
                                <div class="accordion-body border-left-2 border-primary">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->
