<section class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1">Need personal assistance?</h3>
				<p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
			</div>
		</div>
        <div class="row">
            <div class="col-md-6 col-lg-4 my-3">
                <div class="card white-bg">
                    <div class="card-body p-5">
                        <h4 class="mb-3 h5">
                            Ask in the forums
                        </h4>
                        <p class="pb-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                        <a class="btn btn-primary" href="#">Join now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 my-3">
                <div class="card bg-primary">
                    <div class="card-body p-5">
                        <h4 class="text-white mb-3 h5">
                            We can help!
                        </h4>
                        <p class="pb-2 text-white-light">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                        <a class="btn btn-outline-light" href="#">Submit query</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 my-3">
                <div class="card white-bg">
                    <div class="card-body p-5">
                        <h4 class="mb-3 h5">
                            Visit our blog
                        </h4>
                        <p class="pb-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                        <a class="btn btn-primary" href="#">Visit now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
