<section class="parallax effect-section section" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="mask bg-primary opacity-9"></div>
    <div class="container position-relative">
        <div class="row justify-content-center pt-7">
            <div class="col-lg-7 text-center">
                <h1 class="h1 text-white mb-3">How can we help?</h1>
                <form class="d-flex flex-column flex-md-row mb-2">
                    <input type="email" class="form-control mr-sm-2 mb-2 mb-sm-0" placeholder="Search for answers">
                    <button class="btn btn-outline-light flex-shrink-0" type="submit">Search</button>
                </form>
                <p class="links-white text-white font-w-500 m-0 pt-2"><label class="m-0px p-5px-r">Popular help topics:</label>
                    <a href="#">pricing</a>,
                    <a href="#">upgrade</a>,
                    <a href="#">hosting</a>,
                    <a href="#">membership</a>
                </p>
            </div>
        </div>
    </div>
</section>
