<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1">Your enterprise carrier in the cloud</h3>
                <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 my-3">
                <div class="shadow-hover py-5 rounded px-4 bg-white">
                    <div class="avatar avatar-64 p-3 bg-danger text-white rounded shadow">
                        {{> icons/themify/stats-up}}
                    </div>
                    <div class="pt-5">
                        <h5 class="h6 mb-3">Mail Metrics Receive</h5>
                        <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 my-3">
                <div class="shadow-hover py-5 rounded px-4 bg-white">
                    <div class="avatar avatar-64 p-3 bg-success text-white rounded shadow">
                        {{> icons/themify/wand}}
                    </div>
                    <div class="pt-5">
                        <h5 class="h6 mb-3">Mail Metrics Receive</h5>
                        <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 my-3">
                <div class="shadow-hover py-5 rounded px-4 bg-white">
                    <div class="avatar avatar-64 p-3 bg-warning text-white rounded shadow">
                        {{> icons/themify/support}}
                    </div>
                    <div class="pt-5">
                        <h5 class="h6 mb-3">Mail Metrics Receive</h5>
                        <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 my-3">
                <div class="shadow-hover py-5 rounded px-4 bg-white">
                    <div class="avatar avatar-64 p-3 bg-info text-white rounded shadow">
                        {{> icons/themify/check}}
                    </div>
                    <div class="pt-5">
                        <h5 class="h6 mb-3">Mail Metrics Receive</h5>
                        <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
