<section class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1">Your enterprise carrier in the cloud</h3>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            <!-- Price Box -->
            <div class="col-md-4 my-3">
                <div class="price-table-03 shadow-hover hover-top">
                    <div class="pt-head">
                        <h3>Education</h3>
                        <p>Create your first online course</p>
                        <div class="pt-icon">
                            <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                        </div>
                        <div class="price">
                            $49.00<span>/Mo</span>
                        </div>
                    </div>
                    <div class="pt-body">
                        <ul>
                            <li>Only 2 operators only</li>
                            <li>Abandoned cart</li>
                            <li>Facebook &amp; Instagram Ads</li>
                            <li>Order notifications</li>
                            <li>Landing pages</li>
                        </ul>
                    </div>
                    <div class="pt-action">
                        <a class="btn btn-primary" href="#">Purchase</a>
                    </div>
                </div>
            </div>
            <!-- End Price Box -->
            <!-- Price Box -->
            <div class="col-md-4 my-3">
                <div class="price-table-03 shadow-hover hover-top">
                    <div class="pt-head">
                        <h3>Standard</h3>
                        <p>Create your first online course</p>
                        <div class="pt-icon">
                            <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                        </div>
                        <div class="price">
                            $49.00<span>/Mo</span>
                        </div>
                    </div>
                    <div class="pt-body">
                        <ul>
                            <li>Only 2 operators only</li>
                            <li>Abandoned cart</li>
                            <li>Facebook &amp; Instagram Ads</li>
                            <li>Order notifications</li>
                            <li>Landing pages</li>
                        </ul>
                    </div>
                    <div class="pt-action">
                        <a class="btn btn-primary" href="#">Purchase</a>
                    </div>
                </div>
            </div>
            <!-- End Price Box -->
            <!-- Price Box -->
            <div class="col-md-4 my-3">
                <div class="price-table-03 shadow-hover hover-top">
                    <div class="pt-head">
                        <h3>Business</h3>
                        <p>Create your first online course</p>
                        <div class="pt-icon">
                            <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                        </div>
                        <div class="price">
                            $49.00<span>/Mo</span>
                        </div>
                    </div>
                    <div class="pt-body">
                        <ul>
                            <li>Only 2 operators only</li>
                            <li>Abandoned cart</li>
                            <li>Facebook &amp; Instagram Ads</li>
                            <li>Order notifications</li>
                            <li>Landing pages</li>
                        </ul>
                    </div>
                    <div class="pt-action">
                        <a class="btn btn-primary" href="#">Purchase</a>
                    </div>
                </div>
            </div>
            <!-- End Price Box -->
        </div>
    </div>
</section>
