<section id="home" class="effect-section">
    <div class="effect effect-bg-75 bg-primary"></div>
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center mt-10">
            <div class="col-lg-9 col-xl-8 text-center mt-6 mb-8 mt-md-10">
                <h1 class="display-3 text-white mb-5">Drive More Customers Through Digital</h1>
                <p class="lead text-white-light mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <form class="d-flex flex-row mb-1 p-1 bg-white input-group">
                    <input type="email" class="form-control border-radius-0 border-0" placeholder="you@yoursite.com">
                    <button class="btn btn-secondary flex-shrink-0" type="submit">Get Started</button>
                </form>
                <span class="small text-white-light">14-day Free trial - no credit card needed</span>
            </div>
            <div class="col-lg-12">
                <img src="{{asset "images/1600x900.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
