<section id="home" class="effect-section">
    <div class="effect effect-bg-75 bg-primary"></div>
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center mt-10">
            <div class="col-lg-9 col-xl-8 text-center mt-6 mb-8 mt-md-10">
                <h1 class="display-3 text-white mb-5">Drive more customers through digital</h1>
                <p class="lead text-white-light mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                {{#if @labs.members}}
                    {{> subscribe-form}}
                {{/if}}
                <span class="small text-white-light">14-day Free trial - no credit card needed</span>
            </div>
            <div class="col-lg-12">
                <img src="{{asset "images/1600x900.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
