<section class="section parallax" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-7 text-center">
                <h2 class="display-4 mb-3 text-white">This is an call to actions</h2>
                <p class="text-white-light lead-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="pt-1">
                    <a class="btn btn-light" href="#">Take a tour</a>
                    <a class="btn btn-outline-light" href="#">Try it free</a>
                </div>
            </div>
        </div>
    </div>
</section>
