<section class="section bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-3">
                <label class="bg-secondary py-2 px-3 text-white rounded">Testimonials</label>
                <h2 class="h1 my-4">Get access to all the information you need.</h2>
                <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <div class="pt-3">
                    <a class="btn btn-primary" href="#">More about</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="py-6 px-4 shadow hover-top bg-white rounded theme-hover-bg text-center mb-6">
        					<div class="icon icon-xl rounded-circle bg-gray-100 mb-3 dots-icon text-primary">
        						{{> icons/et-line/desktop}}
        						<span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
        					</div>
        					<h6>Web development</h6>
        					<p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
        				</div>
                        <div class="py-6 px-4 shadow hover-top bg-white rounded theme-hover-bg text-center mb-6">
        					<div class="icon icon-xl rounded-circle bg-gray-100 mb-3 dots-icon text-primary">
        						{{> icons/et-line/tools}}
        						<span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
        					</div>
        					<h6>Logo & identity</h6>
        					<p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
        				</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="py-6 px-4 shadow hover-top bg-white rounded theme-hover-bg text-center">
        					<div class="icon icon-xl rounded-circle bg-gray-100 mb-3 dots-icon text-primary">
        						{{> icons/et-line/hotairballoon}}
        						<span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
        					</div>
        					<h6>Graphics design</h6>
        					<p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
        				</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
