<section id="features" class="py-6 py-md-9 py-lg-11">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1 after-50px bg-primary-after">Why choose us?</h3>
				<p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
			</div>
		</div>
        <div class="tab-style-4">
            <ul class="nav nav-fill nav-tabs">
                <li class="nav-item">
                    <a href="#tab3_sec1" data-bs-toggle="tab" class="active">
                        <div class="tb-icon">
                            {{> icons/et-line/chat}}
                        </div>
                        <span>Discussion</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tab3_sec2" data-bs-toggle="tab">
                        <div class="tb-icon">
                            {{> icons/et-line/tools}}
                        </div>
                        <span>Creative concept</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tab3_sec3" data-bs-toggle="tab">
                        <div class="tb-icon">
                            {{> icons/et-line/megaphone}}
                        </div>
                        <span>Production</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab3_sec1" class="tab-pane fade in active show">
                    <div class="row align-items-center justify-content-between mt-4 mt-md-3">
                        <div class="col-lg-5 my-3">
                            <div class="h3 mb-3">Make smarter business decisions with data analysis</div>
                            <p class="lead mb-5">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                            <div class="d-flex mb-5">
                                <div class="avatar avatar-64 p-3 bg-gray-100 dots-icon rounded border border-primary text-primary">
                                  {{> icons/et-line/desktop}}
                                  <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <div class="col ps-3">
                                    <h6>Web development</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="avatar avatar-64 p-3 bg-gray-100 dots-icon rounded border border-primary text-primary">
                                  {{> icons/et-line/tools}}
                                  <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <div class="col ps-3">
                                    <h6>Logo & identity</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center my-3">
                            <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                    </div>
                </div>
                <div id="tab3_sec2" class="tab-pane fade in">
                    <div class="row align-items-center justify-content-between mt-4 mt-md-3">
                        <div class="col-lg-6 text-center my-3">
                            <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                        <div class="col-lg-5 my-3">
                            <div class="h3 mb-3">Make smarter business decisions with data analysis</div>
                            <p class="lead mb-5">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                            <div class="d-flex mb-5">
                                <div class="avatar avatar-64 p-3 bg-gray-100 dots-icon rounded border border-primary text-primary">
                                  {{> icons/et-line/desktop}}
                                  <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <div class="col ps-3">
                                    <h6>Web development</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="avatar avatar-64 p-3 bg-gray-100 dots-icon rounded border border-primary text-primary">
                                  {{> icons/et-line/tools}}
                                  <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <div class="col ps-3">
                                    <h6>Logo & identity</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3_sec3" class="tab-pane fade in">
                    <div class="row align-items-center justify-content-between mt-4 mt-md-3">
                        <div class="col-lg-5 my-3">
                            <div class="h3 mb-3">Make smarter business decisions with data analysis</div>
                            <p class="lead mb-5">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                            <div class="d-flex mb-5">
                                <div class="avatar avatar-64 p-3 bg-gray-100 dots-icon rounded border border-primary text-primary">
                                  {{> icons/et-line/desktop}}
                                  <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <div class="col ps-3">
                                    <h6>Web development</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="avatar avatar-64 p-3 bg-gray-100 dots-icon rounded border border-primary text-primary">
                                  {{> icons/et-line/tools}}
                                  <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                                </div>
                                <div class="col ps-3">
                                    <h6>Logo & identity</h6>
                                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center my-3">
                            <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
