<div class="card mt-5">
    <div class="card-header bg-transparent">
        <span class="h5 m-0">Search</span>
    </div>
    <div class="card-body">
        <form class="input-group">
            <input type="email" class="form-control" placeholder="Search">
            <button class="btn btn-primary" type="submit">{{> icons/bootstrap/search}}</button>
        </form>
    </div>
</div>
