<section class="parallax effect-section section" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="mask bg-primary opacity-9"></div>
    <div class="container position-relative">
        <div class="row justify-content-center pt-7">
            <div class="col-lg-8 text-center">
                <h1 class="h1 text-white mb-3">How can we help?</h1>
                <p class="lead text-white-50">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                {{#if @labs.members}}
                    {{> subscribe-form}}
                {{/if}}
            </div>
        </div>
    </div>
</section>
