<section id="home" class="effect-section bg-primary">
    <div class="effect effect-bg opacity-5 bg-cover bg-center" style="background-image: url({{asset "images/home-3-1-bg.png"}});"></div>
    <div class="container">
        <div class="row min-vh-100 align-items-center py-10 justify-content-between">
            <div class="col-lg-6 m-50px-tb">
                <h1 class="text-white display-4 mb-4">Our Analysis is your financial results.</h1>
                <p class="lead-sm text-white-light">Momboo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
                <div class="btn-bar pt-4">
                    <a class="btn btn-secondary" href="#">Start Now</a>
                    <a class="btn btn-light video-popup ml-2" href="https://www.youtube.com/watch?v=dNIfsv1rKJo">What Video</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="max-width-auto" src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
