<div class="bg-gray-100">
   <div class="container mt-n6">
       <div class="bg-white shadow-lg p-4 position-relative rounded">
           <div class="owl-carousel" data-items="6" data-md-items="6" data-sm-items="3" data-xs-items="3" data-xx-items="2" data-space="10" data-nav-dots="false" data-autoplay="ture">
               <div class="grayscale-hover">
                   <a href="#">
                       <img src="{{asset "images/300x100.jpg"}}" title="" alt="">
                   </a>
               </div>
           </div>
       </div>
   </div>
</div>
