<section id="contact" class="section parallax" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-xl-4">
                <div class="section-title">
                    <h3 class="h1 after-50px bg-light-after text-white">let's start working together</h3>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="p-4 bg-white shadow rounded">
                    <h5 class="h6 mb-3">Send a message</h5>
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="">
                        <div class="mb-3">
                            <input id="contact-name" type="text" name="name" placeholder="Name" class="form-control form-control-sm">
                        </div>
                        <div class="mb-3">
                            <input id="contact-email" type="email" name="email" placeholder="Email" class="form-control form-control-sm">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="contact-message" name="message" rows="4" placeholder="Your Comments"> </textarea>
                        </div>
                        <div class="form-action">
                            <button class="btn btn-sm btn-primary" type="submit" name="send">Get in touch</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
