<section>
   <div class="container-fluid p-0">
       <div class="row g-0">
           <div class="col-md-6 col-lg-3 min-h-350px parallax" style="background-image: url({{asset "images/900x550.jpg"}});">
           </div>
           <div class="col-md-6 col-lg-3">
               <div class="py-7 py-lg-10 px-5 px-lg-8 bg-primary">
                   <label class="text-white mb-2">Build perfect websites</label>
                   <h5 class="text-white mb-3">Unlimited power and customization possibilities</h5>
                   <p class="text-white-50">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                   <div class="pt-2">
                       <a class="btn btn-sm btn-light" href="#">Read more</a>
                   </div>
               </div>
           </div>
           <div class="col-md-6 col-lg-3 min-h-350px parallax" style="background-image: url({{asset "images/900x550.jpg"}});">
           </div>
           <div class="col-md-6 col-lg-3">
               <div class="py-7 py-lg-10 px-5 px-lg-8 bg-primary">
                   <label class="text-white mb-2">Build perfect websites</label>
                   <h5 class="text-white mb-3">Unlimited power and customization possibilities</h5>
                   <p class="text-white-50">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                   <div class="pt-2">
                       <a class="btn btn-sm btn-light" href="#">Read more</a>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/jarallax.js"}}"></script>
{{/contentFor}}
