<!-- Section -->
<section class="section bg-gray-100">
    <div class="container">
        <div class="row counter">
            <div class="col-12 col-md-6 col-lg-3 my-3">
                <div class="media align-items-center">
                    <div class="only-icon icon-after bg-secondary-after text-primary">
                        {{> icons/et-line/happy}}
                    </div>
                    <div class="pl-3 ml-3 border-left">
                        <div class="count h3 mb-1" data-to="650" data-speed="650">650</div>
                        <span class="text-uppercase small">Happy Clients</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-3">
                <div class="media align-items-center">
                    <div class="only-icon icon-after bg-secondary-after text-primary">
                        {{> icons/et-line/layers}}
                    </div>
                    <div class="pl-3 ml-3 border-left">
                        <div class="count h3 mb-1" data-to="987" data-speed="987">987</div>
                        <span class="text-uppercase small">work Completed</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-3">
                <div class="media align-items-center">
                    <div class="only-icon icon-after bg-secondary-after text-primary">
                        {{> icons/et-line/global}}
                    </div>
                    <div class="pl-3 ml-3 border-left">
                        <div class="count h3 mb-1" data-to="350" data-speed="350">350</div>
                        <span class="text-uppercase small">Award Winning</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 my-3">
                <div class="media align-items-center">
                    <div class="only-icon icon-after bg-secondary-after text-primary">
                        {{> icons/et-line/chat}}
                    </div>
                    <div class="pl-3 ml-3 border-left">
                        <div class="count h3 mb-1" data-to="850" data-speed="850">850</div>
                        <span class="text-uppercase small">Telephonic Talk</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
