<section id="features" class="section">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-5 my-3">
                <h2 class="mb-4">It works on any device.</h2>
                <div class="hr-line mb-4">
                    <span class="bg-primary text-info"></span>
                </div>
                <p class="mb-2">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <ul class="list-type-02 mb-4 secondary">
                    <li>We assist efficient business management</li>
                    <li>We identify your requirements and design an ideal relationship structure to fit your needs</li>
                    <li>Our latest thinking on the issues that matter most in business</li>
                </ul>
                <div>
                    <a class="btn btn-info" href="#">More about</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
