<section id="home" class="overflow-hidden parallax" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="container">
        <div class="row min-vh-100 align-items-center py-10 justify-content-between">
            <div class="col-lg-6 my-8">
                <h1 class="text-white display-4 mb-4">Our analysis is your financial results.</h1>
                <p class="lead text-white-50">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <div class="btn-bar pt-4">
                    <a class="btn btn-info" href="#">Start Now</a>
                    <a class="btn btn-light video-popup ms-2" href="https://www.youtube.com/watch?v=dNIfsv1rKJo">What Video</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="max-width-auto" src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/jarallax.js"}}"></script>
{{/contentFor}}
