<section class="section bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-3">
                <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
            <div class="col-lg-6 my-3">
                <div class="ps-lg-5">
                    <div class="avatar avatar-96 p-4 rounded-style text-white bg-warning mb-4">
                        {{> icons/et-line/desktop}}
                    </div>
                    <h2 class="mb-4">Manage conversations with leads and customers at scale</h2>
                    <p class="lead">We’ve strong work history with different business services</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="pt-4">
                        <a class="btn btn-primary" href="#">More about</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
