<section id="about" class="section bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-3">
                <label class="bg-info py-2 px-3 text-white rounded mb-3">Testimonials</label>
                <h2 class="h1 after-50px bg-primary-after mb-4 pb-4">Effective tools for busy administrators</h2>
                <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <div class="pt-3">
                    <a class="btn btn-primary" href="#">More about</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="shadow text-center px-5 py-6 border-bottom border-5 rounded border-primary hover-top bg-white mb-6">
                            <div class="icon icon-xl rounded-style text-white bg-primary mb-4">
                                {{> icons/et-line/desktop}}
                            </div>
                            <h6 class="h5 m-0">Web development</h6>
                        </div>
                        <div class="shadow text-center px-5 py-6 border-bottom border-5 rounded border-primary hover-top bg-white mb-6">
                            <div class="icon icon-xl rounded-style text-white bg-primary mb-4">
                                {{> icons/et-line/tools}}
                            </div>
                            <h6 class="h5 m-0">Logo &amp; Identity</h6>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="shadow text-center px-5 py-6 border-bottom border-5 rounded border-primary hover-top bg-white">
                            <div class="icon icon-xl rounded-style text-white bg-primary mb-4">
                                {{> icons/et-line/hotairballoon}}
                            </div>
                            <h6 class="h5 m-0">Graphics design</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
