<section class="parallax effect-section" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="mask bg-dark opacity-7"></div>
    <div class="container position-relative">
        <div class="row screen-65 justify-content-center align-items-center py-12">
            <div class="col-lg-10 text-center mt-6">
                <h1 class="display-4 text-white mb-4">How to make trust your competitive advantage</h1>
                <p class="lead m-0 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                <div class="d-flex align-items-center mt-4 justify-content-center text-start">
                    <div class="avatar avatar-48 overflow-hidden rounded-circle">
                        <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                    </div>
                    <div class="ps-3">
                        <p class="h6 text-white">Nancy Bayers</p>
                        <small class="text-white-50">Co-Founder</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
