<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1">Getting started</h3>
				<p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
			</div>
		</div>
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex shadow p-3 bg-white rounded align-items-center my-3">
                    <div class="avatar p-2 rounded-circle bg-primary-light text-primary">
                        {{> icons/bootstrap/check}}
                    </div>
                    <div class="ps-3 col">
                        <h6 class="fw-bold m-0"><a class="text-dark" href="#">How do I purchase an item?</a></h6>
                    </div>
                </div>

                <div class="d-flex shadow p-3 bg-white rounded align-items-center my-3">
                    <div class="avatar p-2 rounded-circle bg-primary-light text-primary">
                        {{> icons/bootstrap/check}}
                    </div>
                    <div class="ps-3 col">
                        <h6 class="fw-bold m-0"><a class="text-dark" href="#">View and download invoices?</a></h6>
                    </div>
                </div>

                <div class="d-flex shadow p-3 bg-white rounded align-items-center my-3">
                    <div class="avatar p-2 rounded-circle bg-primary-light text-primary">
                        {{> icons/bootstrap/check}}
                    </div>
                    <div class="ps-3 col">
                        <h6 class="fw-bold m-0"><a class="text-dark" href="#">License or an extended license?</a></h6>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="d-flex shadow p-3 bg-white rounded align-items-center my-3">
                    <div class="avatar p-2 rounded-circle bg-primary-light text-primary">
                        {{> icons/bootstrap/check}}
                    </div>
                    <div class="ps-3 col">
                        <h6 class="fw-bold m-0"><a class="text-dark" href="#">How to download your items?</a></h6>
                    </div>
                </div>

                <div class="d-flex shadow p-3 bg-white rounded align-items-center my-3">
                    <div class="avatar p-2 rounded-circle bg-primary-light text-primary">
                        {{> icons/bootstrap/check}}
                    </div>
                    <div class="ps-3 col">
                        <h6 class="fw-bold m-0"><a class="text-dark" href="#">Licenses overview?</a></h6>
                    </div>
                </div>

                <div class="d-flex shadow p-3 bg-white rounded align-items-center my-3">
                    <div class="avatar p-2 rounded-circle bg-primary-light text-primary">
                        {{> icons/bootstrap/check}}
                    </div>
                    <div class="ps-3 col">
                        <h6 class="fw-bold m-0"><a class="text-dark" href="#">Affiliate program work?</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
