<section class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1">Latest questions</h3>
				<p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
			</div>
		</div>
        <div class="my-3">
            <div class="card mb-3 shadow-only-hover">
                <div class="card-body p-15px-tb p-25px-lr">
                    <div class="row justify-content-sm-between align-items-sm-center">
                        <div class="col-sm-6 my-1 media align-items-center">
                            <div class="only-icon only-icon-xs text-primary">
                                {{> icons/bootstrap/pencil}}
                            </div>
                            <a href="#" class="pl-2 text-body stretched-link">Strategy manager</a>
                        </div>
                        <div class="col-sm-6 my-1 text-sm-right text-dark">
                            <div class="d-flex justify-content-sm-end">
                                <span class="only-icon only-icon-xs text-secondary d-inline-flex">
                                    {{> icons/bootstrap/person-fill}}
                                </span>
                                <span class="d-inline-flex lh-1 ml-2">5 Answers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 shadow-only-hover">
                <div class="card-body p-15px-tb p-25px-lr">
                    <div class="row justify-content-sm-between align-items-sm-center">
                        <div class="col-sm-6 my-1 media align-items-center">
                            <div class="only-icon only-icon-xs text-primary">
                                {{> icons/bootstrap/pencil}}
                            </div>
                            <a href="#" class="pl-2 text-body stretched-link">Strategy manager</a>
                        </div>
                        <div class="col-sm-6 my-1 text-sm-right text-dark">
                            <div class="d-flex justify-content-sm-end">
                                <span class="only-icon only-icon-xs text-secondary d-inline-flex">
                                    {{> icons/bootstrap/person-fill}}
                                </span>
                                <span class="d-inline-flex lh-1 ml-2">5 Answers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 shadow-only-hover">
                <div class="card-body p-15px-tb p-25px-lr">
                    <div class="row justify-content-sm-between align-items-sm-center">
                        <div class="col-sm-6 my-1 media align-items-center">
                            <div class="only-icon only-icon-xs text-primary">
                                {{> icons/bootstrap/pencil}}
                            </div>
                            <a href="#" class="pl-2 text-body stretched-link">Strategy manager</a>
                        </div>
                        <div class="col-sm-6 my-1 text-sm-right text-dark">
                            <div class="d-flex justify-content-sm-end">
                                <span class="only-icon only-icon-xs text-secondary d-inline-flex">
                                    {{> icons/bootstrap/person-fill}}
                                </span>
                                <span class="d-inline-flex lh-1 ml-2">5 Answers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 shadow-only-hover">
                <div class="card-body p-15px-tb p-25px-lr">
                    <div class="row justify-content-sm-between align-items-sm-center">
                        <div class="col-sm-6 my-1 media align-items-center">
                            <div class="only-icon only-icon-xs text-primary">
                                {{> icons/bootstrap/pencil}}
                            </div>
                            <a href="#" class="pl-2 text-body stretched-link">Strategy manager</a>
                        </div>
                        <div class="col-sm-6 my-1 text-sm-right text-dark">
                            <div class="d-flex justify-content-sm-end">
                                <span class="only-icon only-icon-xs text-secondary d-inline-flex">
                                    {{> icons/bootstrap/person-fill}}
                                </span>
                                <span class="d-inline-flex lh-1 ml-2">5 Answers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 shadow-only-hover">
                <div class="card-body p-15px-tb p-25px-lr">
                    <div class="row justify-content-sm-between align-items-sm-center">
                        <div class="col-sm-6 my-1 media align-items-center">
                            <div class="only-icon only-icon-xs text-primary">
                                {{> icons/bootstrap/pencil}}
                            </div>
                            <a href="#" class="pl-2 text-body stretched-link">Strategy manager</a>
                        </div>
                        <div class="col-sm-6 my-1 text-sm-right text-dark">
                            <div class="d-flex justify-content-sm-end">
                                <span class="only-icon only-icon-xs text-secondary d-inline-flex">
                                    {{> icons/bootstrap/person-fill}}
                                </span>
                                <span class="d-inline-flex lh-1 ml-2">5 Answers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
