<section class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1">Select a Topic</h3>
				<p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
			</div>
		</div>

        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="border-all-1 border-gray rounded text-center px-5 py-6 hover-top shadow-only-hover">
                    <div class="icon icon-xl text-success bg-success-light rounded-circle">
                        {{> icons/bootstrap/question-circle-fill}}
                    </div>
                    <h5 class="h6 mb-2 mt-3"><a href="#" class="text-dark stretched-link">Buying and Item Support</a></h5>
                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 my-3">
                <div class="border-all-1 border-gray rounded text-center px-5 py-6 hover-top shadow-only-hover">
                    <a href="#" class="overlay-link"></a>
                    <div class="icon icon-xl text-info bg-info-light rounded-circle">
                        {{> icons/bootstrap/receipt}}
                    </div>
                    <h5 class="h6 mb-2 mt-3"><a href="#" class="text-dark stretched-link">Licensing</a></h5>
                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 my-3">
                <div class="border-all-1 border-gray rounded text-center px-5 py-6 hover-top shadow-only-hover">
                    <a href="#" class="overlay-link"></a>
                    <div class="icon icon-xl text-secondary bg-secondary-light rounded-circle">
                        {{> icons/bootstrap/person-fill}}
                    </div>
                    <h5 class="h6 mb-2 mt-3"><a href="#" class="text-dark stretched-link">Your Account</a></h5>
                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
            </div>

            <div class="col-sm-6 my-3">
                <div class="border-all-1 border-gray rounded text-center px-5 py-6 hover-top shadow-only-hover">
                    <a href="#" class="overlay-link"></a>
                    <div class="icon icon-xl text-warning bg-warning-light rounded-circle">
                        {{> icons/bootstrap/clipboard-check}}
                    </div>
                    <h5 class="h6 mb-2 mt-3"><a href="#" class="text-dark stretched-link">Copyright and Trademarks</a></h5>
                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
            </div>

            <div class="col-sm-6 my-3">
                <div class="border-all-1 border-gray rounded text-center px-5 py-6 hover-top shadow-only-hover">
                    <a href="#" class="overlay-link"></a>
                    <div class="icon icon-xl text-danger bg-danger-light rounded-circle">
                        {{> icons/bootstrap/file-text}}
                    </div>
                    <h5 class="h6 mb-2 mt-3"><a href="#" class="text-dark stretched-link">Tax &amp; Compliance</a></h5>
                    <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
            </div>
        </div>
    </div>
</section>
