<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
    	<div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1 after-50px bg-primary-after">You deserve the best</h3>
				<p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
			</div>
		</div>
        <div class="row">
            <div class="col-md-6 my-3">
                <div class="d-flex px-4 px-lg-5 py-4 shadow hover-top bg-white rounded">
                    <div class="avatar avatar-96 p-4 bg-gray-100 dots-icon rounded-circle text-primary">
                        {{> icons/et-line/desktop}}
                        <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <div class="col ps-4">
                        <h6>Web development</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi t aliquip ex ea commodo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-3">
                <div class="d-flex px-4 px-lg-5 py-4 shadow hover-top bg-white rounded">
                    <div class="avatar avatar-96 p-4 bg-gray-100 dots-icon rounded-circle text-primary">
                        {{> icons/et-line/tools}}
                        <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <div class="col ps-4">
                        <h6>Logo & identity</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi t aliquip ex ea commodo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-3">
                <div class="d-flex px-4 px-lg-5 py-4 shadow hover-top bg-white rounded">
                    <div class="avatar avatar-96 p-4 bg-gray-100 dots-icon rounded-circle text-primary">
                        {{> icons/et-line/hotairballoon}}
                        <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <div class="col ps-4">
                        <h6>Graphics design</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi t aliquip ex ea commodo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-3">
                <div class="d-flex px-4 px-lg-5 py-4 shadow hover-top bg-white rounded">
                    <div class="avatar avatar-96 p-4 bg-gray-100 dots-icon rounded-circle text-primary">
                        {{> icons/et-line/scissors}}
                        <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <div class="col ps-4">
                        <h6>Social marketing</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi t aliquip ex ea commodo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
