<section class="section">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 my-3">
                <div class="h3">Make smarter business decisions with data analysis</div>
                <p class="lead-sm mb-5">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                <div class="media mb-5">
                    <div class="icon icon-lg bg-gray-100 dots-icon rounded border border-primary text-primary">
                      {{> icons/et-line/desktop}}
                      <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <div class="media-body pl-3">
                        <h6>Web development</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="icon icon-lg bg-gray-100 dots-icon rounded border border-primary text-primary">
                      {{> icons/et-line/tools}}
                      <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <div class="media-body pl-3">
                        <h6>Logo & identity</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center my-3">
                <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
