<section id="price" class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1 after-50px bg-primary-after">Pricing plans</h3>
				<p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
			</div>
		</div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-3 my-3">
                <div class="shadow-only-hover px-4 py-6 bg-white hover-top">
                    <div class="pb-3 mb-3 border-bottom">
                        <h5 class="m-0 h1">$45</h5>
                    </div>
                    <div class="pt-2">
                        <h6 class="mb-3">Basic package</h6>
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Drag &amp; drop builder</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">1,000s of Templates ready</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Blog tools</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">eCommerce store</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">30+ Webmaster tools</p></li>
                        </ul>
                    </div>
                    <div class="pt-4 mt-3 border-top">
                        <a class="btn btn-primary" href="#">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-3">
                <div class="shadow-only-hover px-4 py-6 bg-white hover-top">
                    <div class="pb-3 mb-3 border-bottom">
                        <h5 class="m-0 h1">$45</h5>
                    </div>
                    <div class="pt-2">
                        <h6 class="mb-3">Basic package</h6>
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Drag &amp; drop builder</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">1,000s of Templates ready</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Blog tools</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">eCommerce store</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">30+ Webmaster tools</p></li>
                        </ul>
                    </div>
                    <div class="pt-4 mt-3 border-top">
                        <a class="btn btn-primary" href="#">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-3">
                <div class="shadow-only-hover px-4 py-6 bg-white hover-top">
                    <div class="pb-3 mb-3 border-bottom">
                        <label class="bg-info text-white px-4 py-1 mb-4 ms-n5">Popular Choice</label>
                        <h5 class="m-0 h1">$45</h5>
                    </div>
                    <div class="pt-2">
                        <h6 class="mb-3">Basic package</h6>
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Drag &amp; drop builder</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">1,000s of Templates ready</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Blog tools</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">eCommerce store</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">30+ Webmaster tools</p></li>
                        </ul>
                    </div>
                    <div class="pt-4 mt-3 border-top">
                        <a class="btn btn-info" href="#">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 my-3">
                <div class="shadow-only-hover px-4 py-6 bg-white hover-top">
                    <div class="pb-3 mb-3 border-bottom">
                        <h5 class="m-0 h1">$45</h5>
                    </div>
                    <div class="pt-2">
                        <h6 class="mb-3">Basic package</h6>
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Drag &amp; drop builder</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">1,000s of Templates ready</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Blog tools</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">eCommerce store</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">30+ Webmaster tools</p></li>
                        </ul>
                    </div>
                    <div class="pt-4 mt-3 border-top">
                        <a class="btn btn-primary" href="#">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
