<section id="home" class="effect-section">
    <div class="effect bg-secondary effect-skew"></div>
    <div class="particles-box" id="particles-box"></div>
    <div class="container container-lg position-relative">
        <div class="row min-vh-100 align-items-center p-100px-tb">
            <div class="col-12 col-lg-5 col-xl-4 p-50px-tb">
                <h1 class="text-white h1 m-15px-b">Our Analysis is your financial results</h1>
                <p class="font-2 text-muted m-20px-b">Sass and Bootstrap 5 theme
                    with modern and creative multipurpose design you can use it as a startups.</p>
                <form class="d-flex flex-row m-5px-b p-1 bg-white input-group">
                    <input type="email" class="form-control border-radius-0 border-0" placeholder="you@yoursite.com">
                    <button class="btn btn-primary flex-shrink-0" type="submit">Get Started</button>
                </form>
                <small class="text-muted">14-day FREE trial - no credit card needed</small>
            </div>
            <div class="col-lg-7 col-xl-8">
                <img class="max-width-auto" src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
    <!-- particles -->
    <script src="{{asset "built/js/vendor/particles/particles.js"}}"></script>
    <script src="{{asset "built/js/vendor/particles/particles-app.js"}}"></script>
</section>