<section id="home" class="effect-section bg-gray-100">
    <div class="effect bg-primary effect-skew"></div>
    <div class="particles-box" id="particles-box"></div>
    <div class="container position-relative">
        <div class="row min-vh-100 align-items-center py-10">
            <div class="col-lg-5 col-xl-4 py-7">
                <h1 class="text-white h1 mb-3">{{title}}</h1>
                <div class="text-white-50 mb-3">{{excerpt}}</div>
                {{#if @labs.members}}
                    {{> subscribe-form}}
                {{/if}}
            </div>
            <div class="col-lg-7 col-xl-8">
                {{#if feature_image}}
                    {{> feature-image}}
                {{else}}
                    <img width="1100" class="max-width-auto" src="{{asset "images/home-banner-v2.svg"}}" title="" alt="">
                {{/if}}
            </div>
        </div>
    </div>
</section>
