<section id="contact" class="section bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1 after-50px bg-primary-after">Let's start working together</h3>
				<p>Live contact form powered by your Ghoststead site.</p>
			</div>
		</div>
        <div class="row justify-content-center">
            <div class="col-lg-8 my-3">
                <div class="bg-white shadow p-4 p-lg-6">
                    <div class="pb-4">
                        <h5 class="m-0">Contact</h5>
                    </div>
                    <form data-form-type="contact">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label class="form-label">Name</label>
                                    <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label class="form-label">Email address</label>
                                    <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-4">
                                    <label class="form-label">Comment</label>
                                    <textarea class="form-control" id="contact-message" name="message" rows="3" placeholder="Hi there, I would like to ..." data-constraints="@Required"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input name="location" type="hidden" value="{{@site.url}}/thank-you">
                                <button class="btn btn-primary" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
