<section id="about" class="section bg-gray-100">
	<div class="container">
		<div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1 after-50px bg-primary-after">The best way to build a website</h3>
				{{content}}
			</div>
		</div>
	</div>
</section>
