<section id="about" class="section bg-gray-100">
	<div class="container">
        <div class="row align-items-center pt-3 pt-lg-5">
            <div class="col-lg-6 my-3 pe-lg-10">
                <h2 class="h1 mb-4">The best way to build a website</h2>
                <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="pt-1">
                    <a class="btn btn-primary" href="#">More about</a>
                </div>
            </div>
            <div class="col-lg-6 my-3 text-center">
                <img src="{{asset "images/home-feature-1.svg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
