<section class="section">
    <div class="pt-8 container">
        <div class="row align-items-center">
            <div class="col-lg-5 my-3">
                <h1 class="h1 mb-3">Welcome to <span class="theme-color">GhostStead</span>. develop anything.</h1>
                <p class="lead-sm mb-4">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <div class="p-10px-t">
                    <a class="btn btn-primary" href="#">View all pages</a>
                    <a class="btn btn-secondary" href="#">Documentation</a>
                </div>
            </div>
            <div class="col-lg-7 my-3">
                <img src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
