<section class="section">
    <div class="container">
       <div class="row justify-content-around align-items-center">
            <div class="col-lg-5 my-3">
                <h2 class="mb-4">Make your site faster!</h2>
                <p class="mb-4">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <ul class="list-unstyled">
                    <li class="media my-3 align-items-center"><span class="avatar p-1 bg-info rounded-circle text-white">{{> icons/bootstrap/check}}</span> <div class="media-body ps-2">We assist efficient business management</div></li>
                    <li class="media my-3 align-items-center"><span class="avatar p-1 bg-info rounded-circle text-white">{{> icons/bootstrap/check}}</span> <div class="media-body ps-2">We identify your requirements and design an ideal relationship structure to fit your needs</div></li>
                    <li class="media my-3 align-items-center"><span class="avatar p-1 bg-info rounded-circle text-white">{{> icons/bootstrap/check}}</span> <div class="media-body ps-2">Our latest thinking on the issues that matter most in business</div></li>
                </ul>
                <div class="pt-3">
                    <a class="btn btn-primary" href="#">More about</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
        </div>
   </div>
</section>
