<section class="section bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1">Integration with world's top brands</h3>
                <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mt-3 mb-6">
                <div class="shadow bg-white hover-top rounded text-center">
                    <div class="icon icon-xl bg-white text-primary rounded shadow mt-n4">
                        {{> icons/themify/wordpress}}
                    </div>
                    <div class="p-5">
                        <h5>Wordpress</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <div class="pt-3">
                            <a class="btn btn-primary btn-sm" href="#">Tye Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 mb-6">
                <div class="shadow bg-white hover-top rounded text-center">
                    <div class="icon icon-xl bg-white text-primary rounded shadow mt-n4">
                        {{> icons/themify/youtube}}
                    </div>
                    <div class="p-5">
                        <h5>YouTube</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <div class="pt-3">
                            <a class="btn btn-primary btn-sm" href="#">Tye Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 mb-6">
                <div class="shadow bg-white hover-top rounded text-center">
                    <div class="icon icon-xl bg-white text-primary rounded shadow mt-n4">
                        {{> icons/themify/vimeo-alt}}
                    </div>
                    <div class="p-5">
                        <h5>Vimeo</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <div class="pt-3">
                            <a class="btn btn-primary btn-sm" href="#">Tye Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 mb-6">
                <div class="shadow bg-white hover-top rounded text-center">
                    <div class="icon icon-xl bg-white text-primary rounded shadow mt-n4">
                        {{> icons/themify/twitter-alt}}
                    </div>
                    <div class="p-5">
                        <h5>Twitter</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <div class="pt-3">
                            <a class="btn btn-primary btn-sm" href="#">Tye Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 mb-6">
                <div class="shadow bg-white hover-top rounded text-center">
                    <div class="icon icon-xl bg-white text-primary rounded shadow mt-n4">
                        {{> icons/themify/android}}
                    </div>
                    <div class="p-5">
                        <h5>Android</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <div class="pt-3">
                            <a class="btn btn-primary btn-sm" href="#">Tye Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 mb-6">
                <div class="shadow bg-white hover-top rounded text-center">
                    <div class="icon icon-xl bg-white text-primary rounded shadow mt-n4">
                        {{> icons/themify/apple}}
                    </div>
                    <div class="p-5">
                        <h5>Apple</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <div class="pt-3">
                            <a class="btn btn-primary btn-sm" href="#">Tye Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
