<section class="section bg-gray-100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 text-center my-3">
                <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
            </div>
            <div class="col-lg-6 my-3">
                <h2 class="h1 mb-4">Take a look at how the new <u class="text-primary">Startup app works</u></h2>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site. Ut enim ad minim veniam.</p>
                <div class="accordion-02 pt-2" id="accordionExample">
                    <div class="acco-group">
                        <div class="acco-heading" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Can I change plans later on?
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="acco-des">
                                Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                            </div>
                        </div>
                    </div>
                    <div class="acco-group">
                        <div class="acco-heading collapsed" id="headingTwo" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What is the difference between pro and ultimate?
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="acco-des">
                                Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                            </div>
                        </div>
                    </div>
                    <div class="acco-group">
                        <div class="acco-heading collapsed" id="headingThree" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Can I try before I buy?
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="acco-des">
                                Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
