<section id="home" class="effect-section bg-gray-100">
    <div class="effect bg-primary effect-radius"></div>
    <div class="container position-relative">
        <div class="row min-vh-100 align-items-center py-10 justify-content-between">
            <div class="col-lg-5 mt-2 mt-md-6 mt-lg-0">
                <h1 class="text-white display-4 mb-3">Our analysis is your financial results</h1>
                <p class="lead text-white-50 m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <div class="btn-bar pt-4">
                    <a class="btn btn-info" href="#">Start now</a>
                    <a class="btn btn-light" href="#">How it work</a>
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <img class="max-width-auto" src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
