<section id="feature" class="section bg-cover bg-no-repeat parallax" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1 text-white after-50px bg-light-after">List Of Features</h3>
				<p class="text-white">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups.</p>
			</div>
		</div>
        <div class="row">
            <div class="col-md-6 col-lg-4 my-3">
                <div class="media">
                    <div class="only-icon text-white">
                        {{> icons/et-line/desktop}}
                    </div>
                    <div class="media-body pl-3">
                        <h5 class="text-white h6 mb-2">Elegant / Unique design</h5>
                        <p class="text-white-light m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 my-3">
                <div class="media">
                    <div class="only-icon text-white">
                        {{> icons/et-line/pricetags}}
                    </div>
                    <div class="media-body pl-3">
                        <h5 class="text-white h6 mb-2">Different Layout Type</h5>
                        <p class="text-white-light m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 my-3">
                <div class="media">
                    <div class="only-icon text-white">
                        {{> icons/et-line/chat}}
                    </div>
                    <div class="media-body pl-3">
                        <h5 class="text-white h6 mb-2">Make it Simple</h5>
                        <p class="text-white-light m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 my-3">
                <div class="media">
                    <div class="only-icon text-white">
                        {{> icons/et-line/mobile}}
                    </div>
                    <div class="media-body pl-3">
                        <h5 class="text-white h6 mb-2">Responsiveness</h5>
                        <p class="text-white-light m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 my-3">
                <div class="media">
                    <div class="only-icon text-white">
                        {{> icons/et-line/tools}}
                    </div>
                    <div class="media-body pl-3">
                        <h5 class="text-white h6 mb-2">Testing for Perfection</h5>
                        <p class="text-white-light m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 my-3">
                <div class="media">
                    <div class="only-icon text-white">
                        {{> icons/et-line/tools-2}}
                    </div>
                    <div class="media-body pl-3">
                        <h5 class="text-white h6 mb-2">Advanced Options</h5>
                        <p class="text-white-light m-0">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
