<section id="about" class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 text-center my-3">
                <img class="img-fluid" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
            <div class="col-lg-5 my-3">
                <h2 class="h1 mb-4">Welcome to GhostStead <u class="text-primary">digital marketing</u></h2>
                <p class="mb-2">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.
                </p>
                <div class="row">
                    <div class="col-md-6 my-3">
                        <h5 class="text-primary h6 mb-2">Mobile friendly</h5>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    </div>
                    <!-- col -->
                    <div class="col-md-6 my-3">
                        <h5 class="text-primary h6 mb-2">Multiple layouts</h5>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
                <div class="btn-bar pt-3">
                    <a class="btn btn-primary" href="#">More about</a>
                </div>
            </div>
        </div>
    </div>
</section>
