<section id="price" class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1 after-50px bg-primary-after">Pricing plans</h3>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-3 my-3">
                <div class="shadow-hover bg-white hover-top price-table-01 overflow-hidden">
                    <div class="pt-head position-relative p-4">
                        <h6 class="mb-2 text-white">Basic Package</h6>
                        <h5 class="m-0 h1 text-white">$45</h5>
                    </div>
                    <div class="p-4">
                        <ul class="list-type-01 secondary">
                            <li>{{> icons/themify/check}} Drag &amp; drop builder</li>
                            <li>{{> icons/themify/check}} 1,000s of Templates ready</li>
                            <li>{{> icons/themify/check}} Blog tools</li>
                            <li>{{> icons/themify/check}} eCommerce store</li>
                            <li>{{> icons/themify/check}} 30+ Webmaster tools</li>
                        </ul>
                    </div>
                    <div class="p-4 border-top">
                        <a class="btn btn-primary" href="#">Sign up</a>
                    </div>
                </div>
            </div> <!-- col -->
            <div class="col-md-6 col-lg-3 my-3">
                <div class="shadow-hover bg-white hover-top price-table-01 overflow-hidden">
                    <div class="pt-head position-relative p-4">
                        <h6 class="mb-2 text-white">Basic Package</h6>
                        <h5 class="m-0 h1 text-white">$45</h5>
                    </div>
                    <div class="p-4">
                        <ul class="list-type-01 secondary">
                            <li>{{> icons/themify/check}} Drag &amp; drop builder</li>
                            <li>{{> icons/themify/check}} 1,000s of Templates ready</li>
                            <li>{{> icons/themify/check}} Blog tools</li>
                            <li>{{> icons/themify/check}} eCommerce store</li>
                            <li>{{> icons/themify/check}} 30+ Webmaster tools</li>
                        </ul>
                    </div>
                    <div class="p-4 border-top">
                        <a class="btn btn-primary" href="#">Sign up</a>
                    </div>
                </div>
            </div> <!-- col -->
            <div class="col-md-6 col-lg-3 my-3">
                <div class="shadow-hover bg-white hover-top price-table-01 overflow-hidden active">
                    <div class="pt-head position-relative p-4">
                        <h6 class="mb-2 text-white">Basic Package</h6>
                        <h5 class="m-0 h1 text-white">$45</h5>
                        {{> icons/themify/check}}
                    </div>
                    <div class="p-4">
                        <ul class="list-type-01 secondary">
                            <li>{{> icons/themify/check}} Drag &amp; drop builder</li>
                            <li>{{> icons/themify/check}} 1,000s of Templates ready</li>
                            <li>{{> icons/themify/check}} Blog tools</li>
                            <li>{{> icons/themify/check}} eCommerce store</li>
                            <li>{{> icons/themify/check}} 30+ Webmaster tools</li>
                        </ul>
                    </div>
                    <div class="p-4 border-top">
                        <a class="btn btn-info" href="#">Sign up</a>
                    </div>
                </div>
            </div> <!-- col -->
            <div class="col-md-6 col-lg-3 my-3">
                <div class="shadow-hover bg-white hover-top price-table-01 overflow-hidden">
                    <div class="pt-head position-relative p-4">
                        <h6 class="mb-2 text-white">Basic Package</h6>
                        <h5 class="m-0 h1 text-white">$45</h5>
                    </div>
                    <div class="p-4">
                        <ul class="list-type-01 secondary">
                            <li>{{> icons/themify/check}} Drag &amp; drop builder</li>
                            <li>{{> icons/themify/check}} 1,000s of Templates ready</li>
                            <li>{{> icons/themify/check}} Blog tools</li>
                            <li>{{> icons/themify/check}} eCommerce store</li>
                            <li>{{> icons/themify/check}} 30+ Webmaster tools</li>
                        </ul>
                    </div>
                    <div class="p-4 border-top">
                        <a class="btn btn-primary" href="#">Sign up</a>
                    </div>
                </div>
            </div> <!-- col -->
        </div>
    </div>
</section>
