<section class="py-6 py-md-9 py-lg-11">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 my-3">
                <h2 class="h1 mb-3">Get tips & tricks on <u class="text-primary">how to skyrocket</u> your sales.</h2>
                <div class="tab-style-2 dark pt-3">
                    <ul class="nav" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-01-tab" data-bs-toggle="pill" href="#pills-01" role="tab" aria-controls="pills-01" aria-selected="false">
                                Friendly
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-02-tab" data-bs-toggle="pill" href="#pills-02" role="tab" aria-controls="pills-02" aria-selected="true">
                                Multiple
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-03-tab" data-bs-toggle="pill" href="#pills-03" role="tab" aria-controls="pills-03" aria-selected="false">
                                Install
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-01" role="tabpanel" aria-labelledby="pills-01-tab">
                            <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-02" role="tabpanel" aria-labelledby="pills-02-tab">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-03" role="tabpanel" aria-labelledby="pills-03-tab">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
