<section class="section">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 my-3">
                <h2 class="h1 mb-4">Take a look at how the new <u class="text-primary">Startup App works</u></h2>
                <p class="mb-2">Mombo is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design you can use it as a startups. Ut enim ad minim veniam.</p>
                <div class="btn-bar pt-3">
                    <a class="btn btn-primary" href="#">More About</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <div class="video-box position-relative">
                    <img class="shadow rounded" src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    <a class="video-btn video-popup white p-center" href="https://www.youtube.com/watch?v=dNIfsv1rKJo"><span></span></a>
                </div>
            </div>
        </div>
       
        <div id="image_container" class="container">
            <div class="flex">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-3 my-3">
                        <a href="https://www.w3schools.com/css/img_fjords.jpg">
                            <img data-bp="https://www.w3schools.com/css/img_fjords.jpg" src="https://www.w3schools.com/css/img_fjords.jpg" width="50%"/>
                        </a>
                    </div>
                    <div class="col-lg-3 my-3">
					<a href="https://i.redd.it/w3kr4m2fi3111.png">
						<img data-bp="https://i.redd.it/w3kr4m2fi3111.png" src="https://i.redd.it/w3kr4m2fi3111.png"  width="50%"/>
					</a>
                    </div>
                    <div class="col-lg-3 my-3">
					<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png">
						<img
							data-bp="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png"
							src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Test-Logo.svg/783px-Test-Logo.svg.png"
							data-caption="Example of an optional caption. You can put words here."  width="50%"
						/>
					</a>
                    </div>
                    <div class="col-lg-3 my-3">
					<a href="https://test.io/wp-content/uploads/2019/02/testIO-logo-rgb-2.png">
						<img data-bp="https://test.io/wp-content/uploads/2019/02/testIO-logo-rgb-2.png" src="https://test.io/wp-content/uploads/2019/02/testIO-logo-rgb-2.png"  width="50%"/>
					</a>
                    </div>
				</div>
			</div>
			<div id="video_container" class="container">
				<h3>Videos / Embeds</h3>
				<div class="flex">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-3 my-3">
                            <div
                                class="vid youtube twin-peaks"
                                style="background-image:url(https://i.ytimg.com/vi/8nHV2mOCIRA/mqdefault.jpg);height:100px;"
                                ytSrc="X2lkvrMa27c"
                            ></div>
                        </div>
                        <div class="col-lg-3 my-3">
                            <div
                                class="vid youtube"
                                style="background-image:url(https://i.ytimg.com/vi/tU1b1H2EWU4/mqdefault.jpg);height:100px;"
                                ytSrc="tU1b1H2EWU4"
                            ></div>
                        </div>
                        <div class="col-lg-3 my-3">
                            <div
                                class="vid youtube"
                                style="background-image:url(https://i.ytimg.com/vi/z_PeaHVcohg/mqdefault.jpg);height:100px;"
                                ytSrc="z_PeaHVcohg"
                            ></div>
                        </div>
                        <div class="col-lg-3 my-3">
                            <div
                                class="vid vimeo"
                                style="background-image:url(https://i.vimeocdn.com/video/506473859_350x200.jpg);height:100px;"
                                vimeoSrc="119287310"
                            ></div>
                        </div>
                        <div class="col-lg-3 my-3">
                            <div
                                class="vid vimeo"
                                style="background-image:url(https://i.vimeocdn.com/video/554831823_350x200.jpg);height:100px;"
                                vimeoSrc="154174852"
                            ></div>
                        </div>
                    </div>
				</div>
			</div>
        </div>
    </div>
</section>
