<section class="py-6 py-md-9 py-lg-11">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 my-3">
                <h2 class="h1 mb-4">Take a look at how the new <u class="text-primary">Startup app works</u></h2>
                <p class="mb-2">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <div class="btn-bar pt-3">
                    <a class="btn btn-primary" href="#">More about</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <div class="video-box position-relative video_container">
                    <img class="shadow rounded" src="{{asset "images/900x550.jpg"}}" title="" alt="">
                    <a class="video-btn vid youtube white p-center" href="javascript:void(0)" ytSrc="PzmNssVLcLQ"><span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
