<section class="section bg-gray-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 my-3">
                <div class="bg-white shadow p-4 p-lg-6">
                    <div class="pb-4">
                        <h5 class="m-0">Contact</h5>
                    </div>
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label class="form-control-label">Name</label>
                                    <input id="contact-name" type="text" name="name" placeholder="Rachel Roth" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label class="form-control-label">Email address</label>
                                    <input id="contact-email" type="email" name="email" placeholder="name@example.com" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-4">
                                    <label class="form-control-label">Comment</label>
                                    <textarea class="form-control" id="contact-message" name="message" rows="3" placeholder="Hi there, I would like to ..." data-constraints="@Required"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 p-10px-t">
                                <button class="btn btn-primary" type="submit" name="send">Send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="border-all-10 border-white py-5 px-4 bg-primary shadow h-100 ml-xl-6">
                    <h5 class="lead-sm text-white mb-2">Our address info</h5>
                    <p class="text-white-light mb-5">2 Embarcadero Center, San Francisco, CA 94111 USA</p>
                    <h5 class="lead-sm text-white mb-2">Our contact info</h5>
                    <p class="mb-2 links-white"><a href="mailto:support@domain.com">support@domain.com</a></p>
                    <p class="m-0 links-white"><a href="tel:+1 (760) 678-4580">+1 (760) 678-4580</a></p>

                    <h5 class="lead-sm text-white mb-2 mt-5">Follow us</h5>
                    <div class="social-icon si-30 white radius nav">
                        <a href="#">{{> icons/themify/facebook}}</a>
                        <a href="#">{{> icons/themify/twitter-alt}}</a>
                        <a href="#">{{> icons/themify/linkedin}}</a>
                        <a href="#">{{> icons/themify/instagram}}</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="p-3 bg-white shadow">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.797376356706!2d-122.40059878468189!3d37.7947880797558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858061076f4eb9%3A0x4b873237064435eb!2sTwo%20Embarcadero%20Center%2C%202%20Embarcadero%20Center%2C%20San%20Francisco%2C%20CA%2094111%2C%20USA!5e0!3m2!1sen!2sin!4v1596045074719!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
