// deprecated classes, use bootstrap-avatar instead

@for $i from 3 through 12 {
	.avatar-#{$i * 10} {
		width: #{$i * 10}px !important;
		height: #{$i * 10}px !important;
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
	}
}

.avatar-220 {
	width: 220px;
	height: 220px;
	overflow: hidden;
}

.avatar-h-auto {
	height: auto !important;
}
