//Blog Grid Overlay
.blog-grid-overlay {
	background-size: cover;
	border-radius: $border-radius;
    overflow: hidden;
	.blog-gird-info {
		position: relative;
		padding: 30% 20px 20px;
		background: rgba($black, 0.5);
        transition: ease-in-out all 0.25s;
	}
	h5 {
		margin: 0;
		padding: 10px 0 15px;
		font-size: 18px;
		color: $white;
	}
	p {
		margin: 0 0 20px;
		color: rgba($white, 0.8);
	}
	.media {
		padding-top: 20px;
	}
	.b-meta {
		span {
			font-size: 14px;
			color: $white;
		}
	}
	&:hover {
		box-shadow: $box-shadow;
	}
}
