.subscribe-form {
    form {
        position: relative;
    }
    .message-error,
    .message-success {
        position: absolute;
        top: 100%;
        background: $white;
        padding: 4px 13px;
        font-size: 13px;
        left: 0;
        &:before {
            content: "";
            top: -0.3rem;
            position: absolute;
            left: 8px;
            border-left: 0.3rem solid transparent;
            border-right: 0.3rem solid transparent;
            border-bottom: 0.3rem solid $white;
        }
    }

    .button {
        .button-loader {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 1.5rem;
            height: 1.5rem;
            display: none;
        }
    }

    .loading {
        .button-content {
            visibility: hidden;
        }

        .button-loader {
            display: block;
        }
    }
}

.message-error,
.message-success {
    display: none;
}

.invalid,
.error {
    .message-error {
        display: block;

    }
}

.success {
    .message-success {
        display: block;
    }
}

/**
 * portal.min.js uses three classes on data-members-form to indicate state:
 *   success, error and loading.
 */
.subscribe-form,
form[data-members-form] {
    &.invalid,
    &.error {
        .message-error {
            display: block;

        }
    }

    &.success {
        .message-success {
            display: block;
        }
    }

    &.loading {
        button[type="submit"] {
            display: none;
        }
        .loader, .button-loader {
            display: block;
        }
    }

    .loader, .button-loader {
        display: none;
    }

    .message-error,
    .message-success {
        display: none;
    }
}
