.section-title {
	margin-bottom: 45px;
	.after-50px {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	p {
		font-size: 1.1rem;
		&:last-child {
			margin-bottom:0;
		}
	}
	@include media-breakpoint-down(md) {
		margin-bottom: 25px;
	}
}

.hr-line {
    height: 3px;
	font-size: 0px;
	span {
	    width: 50px;
	    display: inline-block;
	    vertical-align: top;
	    position: relative;
	    height: 3px;
	    margin-right: 15px;
	    border-radius: 3px;
	    &:after {
			content: "";
			background: currentColor;
			width: 15px;
			height: 3px;
			margin-right: 10px;
			position: absolute;
			top: 0;
			right: -30px;
	    }
    }
}
