.pie_chart_in {
	position: relative;
	display: inline-block;
	vertical-align: top;
	.middle {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
	}
}
