// Portfolio Grid
.portfolio-content {
    .grid-item {
        @include media-breakpoint-up(md) {
            width: 33.3333%;
        }
        @include media-breakpoint-down(md) {
            width: 50%;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
	.grid-item {
		float: left;
        padding: 8px;
	}
}


//Portfolio filter
.portfolio-filter {
	.filter {
		li {
			cursor: pointer;
			margin: 0 15px;
			color: $dark;
			position: relative;
			padding: 5px 0;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 14px;
			line-height: normal;
			&:after {
				content:"";
				width: 0px;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				height: 2px;
				background: $primary;
				position: absolute;
				transition: ease all 0.55s;
			}
			&:last-child {
				margin-right: 0;
			}
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				color: $primary;
			}
			&.active {
				color: $primary;
				&:after {
					width:100%;
				}
			}
		}
	}
}


//Portfolio style
.portfolio-box {
	position: relative;
	overflow: hidden;
	.portfolio-img {
		img {
			transition: ease all 0.55s;
            transform: scale(1);
		}
	}
	.portfolio-info {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: rgba($primary, 0.8);
		transition: ease all 0.55s;
		opacity: 0;
	}
	.gallery-link {
		position: absolute;
		top: 20px;
		right: 20px;
		display: inline-flex;
        justify-content: center;
        align-items: center;
		width: 50px;
		height: 50px;
		line-height: 52px;
		border:1px solid $white;
		color: $white;
		text-align: center;
		border-radius: 50%;
		font-size: 20px;
		transition: ease all 0.55s;
		svg {
            width: 25px;
            height: 25px;
            path {
                fill: currentColor;
            }
        }
		&:hover {
			background:$white;
			color: $primary;
		}
	}
	.portfolio-desc {
		position: absolute;
		left: 20px;
		bottom: 20px;
		transition: ease all 0.55s;
        transition-delay: 0.15s;
		opacity: 0;
		h5 {
	        font-size: 16px;
		    margin: 0 0 15px;
		    font-weight: 500;
			a {
				color: $white;
				text-decoration: none;
			}
		}
		.pb-tag {
			a {
			    display: inline-block;
			    vertical-align: top;
			    background: $white;
			    border:1px solid $white;
			    padding: 4px 15px;
			    color: $primary;
			    border-radius: 3px;
			    margin-right: 8px;
			    margin-bottom: 3px;
			    font-size: 12px;
			    font-weight: 600;
			    text-transform: uppercase;
			    line-height: normal;
			    transition: ease all 0.55s;
				&:hover {
					background:$primary;
					color: $white;
				}
			}
		}
	}
	&:hover {
		.portfolio-img {
			img {
				transform: scale(1.2);
			}
		}
		.portfolio-desc {
			opacity: 1;
		}
		.portfolio-info {
			position: absolute;
			opacity: 1;
		}
	}
}
