<!-- Home Banner -->
<section id="home" class="effect-section bg-primary bg-gradient">
    <div class="effect-img effect bottom text-gray-100">
        {{> icons/effect-bottom}}
    </div>
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 text-center">
                <div class="pt-10 my-8  my-md-10">
                    <h3 class="text-white display-3 mb-6">Drive more customers through digital</h3>
                    <p class="text-white-light lead m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-12 text-center">
                <img src="{{asset "images/1600x900.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Home Banner -->
