<section id="blog" class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <label class="border-bottom border-2 text-uppercase font-w-600 text-primary border-info">Our Blog</label>
                <h3 class="h1 m-0">Checkout our latest blogs</h3>
            </div>
        </div>
        <div class="row">
            {{#get "posts" order="published_at desc" include="authors" limit="4"}}
            {{#foreach posts}}
                {{> post-card-2 }}
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>
