<section class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
                <label class="border-bottom-2 text-uppercase font-w-600 text-primary border-secondary">Services</label>
				<h3 class="h1 m-0">Reinventing new business ideas and markets</h3>
			</div>
		</div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="icon icon-lg rounded text-primary bg-primary-light">
                        {{> icons/et-line/mobile}}
                    </div>
                    <div class="media-body pl-4">
                        <h6>Web Development</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="icon icon-lg rounded text-danger bg-danger-light">
                        {{> icons/et-line/laptop}}
                    </div>
                    <div class="media-body pl-4">
                        <h6>Innovative Ideas</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="icon icon-lg rounded text-warning bg-warning-light">
                        {{> icons/et-line/search}}
                    </div>
                    <div class="media-body pl-4">
                        <h6>Skyrocketing Growth</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="icon icon-lg rounded text-success bg-success-light">
                        {{> icons/et-line/newspaper}}
                    </div>
                    <div class="media-body pl-4">
                        <h6>Strategy Draft</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="icon icon-lg rounded text-info bg-info-light">
                        {{> icons/et-line/hourglass}}
                    </div>
                    <div class="media-body pl-4">
                        <h6>Web Engineering</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="icon icon-lg rounded text-secondary bg-secondary-light">
                        {{> icons/et-line/basket}}
                    </div>
                    <div class="media-body pl-4">
                        <h6>Project Mapping</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
