<section class="section bg-gray-100 overflow-hidden">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 my-3">
                <label class="text-primary font-w-600 mb-3">We experts</label>
                <div class="h3">Discover more new features</div>
                <p class="lead mb-5">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5.</p>
                <div class="media mb-5">
                    <div class="icon icon-lg bg-gray-100 dots-icon rounded border border-primary text-primary">
                      {{> icons/et-line/desktop}}
                      <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <div class="media-body ps-3">
                        <h6>Web development</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="icon icon-lg bg-gray-100 dots-icon rounded border border-primary text-primary">
                      {{> icons/et-line/tools}}
                      <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                    </div>
                    <div class="media-body ps-3">
                        <h6>Logo & identity</h6>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center my-3">
                <img class="max-width-auto" src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
