<section class="py-6 py-md-9 py-lg-11 effect-section position-relative overflow-hidden">
    <div class="effect-img effect bottom text-gray-100">
        {{> icons/effect-bottom}}
    </div>
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6 my-3 text-center">
                <img class="img-fluid" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
            <div class="col-lg-5 my-3">
                <label class="text-primary fw-bold mb-3">We experts</label>
                <h2 class="mb-4">Marketing experts are ready to helps</h2>
                <p class="lead">We’ve strong work history with different business services</p>
                <ul class="list-unstyled">
                    <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">We assist efficient business management</p></li>
                    <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">We identify your requirements and design an ideal relationship structure to fit your needs</p></li>
                    <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Our latest thinking on the issues that matter most in business</p></li>
                </ul>
                <div class="pt-4">
                    <a class="btn btn-primary" href="#">More about</a>
                </div>
            </div>
        </div>
    </div>
</section>
