<section class="section effect-section">
    <div class="effect-img effect bottom text-gray-100">
        {{> icons/effect-bottom}}
    </div>
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-6 my-3 text-center">
                <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
            <div class="col-lg-5 my-3">
                <label class="text-primary font-w-600 mb-3">We experts</label>
                <h2 class="mb-4">Marketing experts are ready to helps</h2>
                <p class="lead-sm">We’ve strong work history with different business services</p>
                <ul class="list-type-02 secondary">
                    <li>We assist efficient business management</li>
                    <li>We identify your requirements and design an ideal relationship structure to fit your needs</li>
                    <li>Our latest thinking on the issues that matter most in business</li>
                </ul>
                <div class="pt-4">
                    <a class="btn btn-primary" href="#">More about</a>
                </div>
            </div>
        </div>
    </div>
</section>
