<section class="section bg-gray-100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 my-3">
                <h2 class="h1 my-3">Our core values!</h2>
                <p class="font-2 m-25px-b">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                <div class="row p-30px-b">
                    <div class="col-6">
                        <div class="media p-5px-tb align-items-center">
                            <div class="icon-30 yellow-color yellow-bg-alt border-radius-50"><i class="fas fa-check"></i></div>
                            <div class="media-body p-10px-l">Empathy</div>
                        </div>
                        <div class="media p-5px-tb align-items-center">
                            <div class="icon-30 blue-color blue-bg-alt border-radius-50"><i class="fas fa-check"></i></div>
                            <div class="media-body p-10px-l">Courtesy</div>
                        </div>
                        <div class="media p-5px-tb align-items-center">
                            <div class="icon-30 pink-color pink-bg-alt border-radius-50"><i class="fas fa-check"></i></div>
                            <div class="media-body p-10px-l">Thriving</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="media p-5px-tb align-items-center">
                            <div class="icon-30 yellow-color yellow-bg-alt border-radius-50"><i class="fas fa-check"></i></div>
                            <div class="media-body p-10px-l">Craftsmanship</div>
                        </div>
                        <div class="media p-5px-tb align-items-center">
                            <div class="icon-30 blue-color blue-bg-alt border-radius-50"><i class="fas fa-check"></i></div>
                            <div class="media-body p-10px-l">Playfulness</div>
                        </div>
                        <div class="media p-5px-tb align-items-center">
                            <div class="icon-30 pink-color pink-bg-alt border-radius-50"><i class="fas fa-check"></i></div>
                            <div class="media-body p-10px-l">Solidarity</div>
                        </div>
                    </div>
                </div>
                <a class="m-btn m-btn-theme m-btn-radius" href="#">Apply Now</a>
            </div>
            <div class="col-lg-6 my-3">
                <div class="row">
                    <div class="col">
                        <div class="min-h-350px bg-cover bg-no-repeat bg-center border-radius-5 box-shadow" style="background-image: url(static/img/blog-in.jpg);">
                        </div>
                    </div>
                    <div class="col">
                        <div class="min-h-350px bg-cover bg-no-repeat bg-center border-radius-5 box-shadow" style="background-image: url(static/img/about-1.jpg);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
