<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 my-3">
                <label class="bg-primary-light fw-normal px-4 py-1 text-primary rounded-pill mb-3">@_Life</label>
                <h3 class="h1 mb-2">Life at GhostStead</h3>
                <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
                <ul class="list-type-02">
                    <li>Built with customization</li>
                    <li>Quality design and thoughfully</li>
                    <li>Created with the latest technologies</li>
                </ul>
            </div>
            <div class="col-md-10 col-lg-6 my-3">
                <div class="swiper-container" data-sm="1" data-md="1" data-lg="1" data-xl="1" data-xxl="1" data-spaceBetween="10">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide mb-3">
                            <img class="rounded img-fluid" src="{{asset "images/900x550.jpg"}}" title="" alt="">
                        </div>
                        <div class="swiper-slide mb-3">
                            <img class="rounded img-fluid" src="{{asset "images/900x550.jpg"}}" title="" alt="">
                        </div>
                        <div class="swiper-slide mb-3">
                            <img class="rounded img-fluid" src="{{asset "images/900x550.jpg"}}" title="" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/swiper.js"}}"></script>
{{/contentFor}}
