<section class="parallax effect-section section" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="mask bg-primary opacity-9"></div>
    <div class="container position-relative">
        <div class="row justify-content-center pt-7">
            <div class="col-lg-8 col-xl-7 text-center">
                <h1 class="display-4 text-white mb-3">{{title}}</h1>
                <p class="lead text-white-50">We are a professional digital agency providing premium themes, UI/UX design and web apps that you will simply love.</p>
                <div class="pt-3">
                    <a class="btn btn-light mx-1" href="#">Contact us</a>
                    <a class="btn btn-outline-light mx-1" href="#">Apply now</a>
                </div>
            </div>
        </div>
    </div>
</section>
