<section class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <label class="bg-primary-light font-w-500 px-4 py-1 text-primary rounded-pill mb-3">Benefits</label>
                <h3 class="h1">Why join us?</h3>
                <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead font-w-700">1</span></div>
                    <div class="media-body ps-3">
                        <h5 class="h6 font-w-600">Fast growing company</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead font-w-700">2</span></div>
                    <div class="media-body ps-3">
                        <h5 class="h6 font-w-600">Great Colleagues</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead font-w-700">3</span></div>
                    <div class="media-body ps-3">
                        <h5 class="h6 font-w-600">Take Charge</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead font-w-700">4</span></div>
                    <div class="media-body ps-3">
                        <h5 class="h6 font-w-600">Don't stop learning</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead font-w-700">5</span></div>
                    <div class="media-body ps-3">
                        <h5 class="h6 font-w-600">Latest technology Front</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="media">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead font-w-700">6</span></div>
                    <div class="media-body ps-3">
                        <h5 class="h6 font-w-600">Cross domain exposure</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
