<section class="py-6 py-md-9 py-lg-11">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <label class="bg-primary-light fw-normal px-4 py-1 text-primary rounded-pill mb-3">Benefits</label>
                <h3 class="h1">Why join us?</h3>
                <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="d-flex">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead fw-bold">1</span></div>
                    <div class="col ps-3">
                        <h5 class="h6 fw-bold">Fast growing company</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="d-flex">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead fw-bold">2</span></div>
                    <div class="col ps-3">
                        <h5 class="h6 fw-bold">Great Colleagues</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="d-flex">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead fw-bold">3</span></div>
                    <div class="col ps-3">
                        <h5 class="h6 fw-bold">Take Charge</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="d-flex">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead fw-bold">4</span></div>
                    <div class="col ps-3">
                        <h5 class="h6 fw-bold">Don't stop learning</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="d-flex">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead fw-bold">5</span></div>
                    <div class="col ps-3">
                        <h5 class="h6 fw-bold">Latest technology Front</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="d-flex">
                    <div class="avatar avatar-48 text-primary bg-primary-light rounded-circle"><span class="lead fw-bold">6</span></div>
                    <div class="col ps-3">
                        <h5 class="h6 fw-bold">Cross domain exposure</h5>
                        <p class="m-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
