<section id="home" class="pb-0 section bg-primary effect-section">
    <div class="particles-box" id="particles-box"></div>
    <div class="container position-relative pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7 py-7 text-center">
                <h1 class="text-white h1 mb-4">Intuitive, feature-rich, affordable <u class="font-w-600">customer support</u> software</h1>
                <p class="lead text-white-50 mb-4">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                {{#if @labs.members}}
                    {{> subscribe-form}}
                {{/if}}
                <small class="text-white-50">14-day FREE trial - no credit card needed</small>
            </div>
            <div class="col-lg-10 text-center">
                <img src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
