<section id="home" class="pb-0 py-6 py-md-9 py-lg-11 bg-primary effect-section position-relative overflow-hidden">
    <div class="particles-box position-absolute top-0 bottom-0 start-0 end-0" id="particles-js"></div>
    <div class="container position-relative pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7 py-7 text-center">
                <h1 class="text-white h1 mb-4">Intuitive, feature-rich, affordable <u class="fw-bold">customer support</u> software</h1>
                <p class="lead text-white-50 mb-4">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                {{#if @labs.members}}
                    {{> subscribe-form}}
                {{/if}}
                <small class="text-white-50">14-day FREE trial - no credit card needed</small>
            </div>
            <div class="col-lg-10 text-center">
                <img class="img-fluid" src="{{asset "images/900x550.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/particles.js"}}"></script>
{{/contentFor}}
