<section class="section bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <label class="bg-primary-light font-w-500 px-4 py-1 text-primary rounded-pill mb-3">We are help you</label>
                <h3 class="h1 m-0">What kind of help do you need today?</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 my-3">
                <div class="shadow text-center p-8 bg-white rounded-lg hover-top">
                    <div class="px-8">
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="pt-6">
                        <h5 class="mb-4">Need Help support?</h5>
                        <a class="btn btn-primary" href="#">Start Ticketing</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 my-3">
                <div class="shadow text-center p-8 bg-white rounded-lg hover-top">
                    <div class="px-8">
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="pt-6">
                        <h5 class="mb-4">Need Email support?</h5>
                        <a class="btn btn-warning" href="#">GIve me a mail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
