<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <label class="bg-primary-light fw-normal px-4 py-1 text-primary rounded-pill mb-3">Pricing</label>
                <h3 class="h1 m-0">Simple, straight pricing</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 my-3">
                <div class="rounded shadow-hover hover-top bg-white text-center py-5">
                    <div class="border-style bottom p-5">
                        <div class="h1 dark-color fw-bold">$59</div>
                        <div class="h6 fw-normal">Standard license</div>
                    </div>
                    <div class="p-5">
                        <ul class="list-unstyled">
                            <li class="py-2">1 end product</li>
                            <li class="py-2">Use for personal or a client</li>
                            <li class="py-2">Use in a free end product</li>
                            <li class="py-2">6 months technical support</li>
                        </ul>
                        <div class="pt-4">
                            <a class="btn btn-primary" href="#">Purchase now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-3">
                <div class="rounded shadow-hover hover-top bg-primary text-center py-5">
                    <div class="border-style bottom p-5">
                        <div class="h1 text-white fw-bold">$59</div>
                        <div class="h6 fw-normal text-white">Standard license</div>
                    </div>
                    <div class="p-5">
                        <ul class="list-unstyled text-white">
                            <li class="py-2">1 end product</li>
                            <li class="py-2">Use for personal or a client</li>
                            <li class="py-2">Use in a free end product</li>
                            <li class="py-2">6 months technical support</li>
                        </ul>
                        <div class="pt-4">
                            <a class="btn btn-light" href="#">Purchase now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
