<!-- Section -->
<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-5">
                <label class="bg-primary-light small font-w-500 px-4 py-2 text-primary rounded-pill mb-3">Our portal</label>
                <h3 class="h2 m-0">Support in your door step</h3>
            </div>
        </div>
        <div class="tab-style-5">
            <div class="row justify-content-center mb-6">
                <div class="col-lg-10">
                    <ul class="nav nav-fill nav-tabs">
                        <li class="nav-item">
                            <a href="#tab3_sec1" data-bs-toggle="tab" class="nav-link active box-shadow-lg">
                                <span>Discussion</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab3_sec2" data-bs-toggle="tab" class="nav-link box-shadow-lg">
                                <span>Creative concept</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab3_sec3" data-bs-toggle="tab" class="nav-link box-shadow-lg">
                                <span>Production</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <!-- start tab content -->
                <div id="tab3_sec1" class="tab-pane fade in active show">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-5 my-3">
                            <label class="bg-primary-light small font-w-500 px-4 py-2 text-primary rounded-pill mb-3">Our portal</label>
                            <h3>Set your priorities and align your teams</h3>
                            <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                            <ul class="list-type-02">
                                <li>Built with customization</li>
                                <li>Quality design and thoughfully</li>
                                <li>Created with the latest technologies</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 my-3 text-center">
                            <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                    </div>
                </div>
                <!-- end tab content -->
                <!-- start tab content -->
                <div id="tab3_sec2" class="tab-pane fade in">
                    <div class="row flex-row-reverse align-items-center justify-content-between">
                        <div class="col-lg-5 my-3">
                            <label class="bg-primary-light small font-w-500 px-4 py-2 text-primary rounded-pill mb-3">Our portal</label>
                            <h3>Set your priorities and align your teams</h3>
                            <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                            <ul class="list-type-02">
                                <li>Built with customization</li>
                                <li>Quality design and thoughfully</li>
                                <li>Created with the latest technologies</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 my-3 text-center">
                            <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                    </div>
                </div>
                <!-- end tab content -->
                <!-- start tab content -->
                <div id="tab3_sec3" class="tab-pane fade in">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-5 my-3">
                            <label class="bg-primary-light small font-w-500 px-4 py-2 text-primary rounded-pill mb-3">Our portal</label>
                            <h3>Set your priorities and align your teams</h3>
                            <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                            <ul class="list-type-02">
                                <li>Built with customization</li>
                                <li>Quality design and thoughfully</li>
                                <li>Created with the latest technologies</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 my-3 text-center">
                            <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                    </div>
                </div>
                <!-- end tab content -->
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
