<section class="border-bottom-1 border-top-1 border-gray">
    <div class="container">
        <div class="separated row">
            <div class="col-md-6">
                <div class="text-center px-6 py-8 px-md-8 py-md-10">
                    <div class="mb-4 d-inline-block avatar-100 rounded-circle">
                        <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                    </div>
                    <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                    <div class="p-5px-t">
                        <h6 class="dark-color m-0px">Martin Luther</h6>
                        <span>Sr. Designer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center px-6 py-8 px-md-8 py-md-10">
                    <div class="mb-4 d-inline-block avatar-100 rounded-circle">
                        <img src="{{asset "images/250x250.jpg"}}" title="" alt="">
                    </div>
                    <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                    <div class="p-5px-t">
                        <h6 class="dark-color m-0px">Martin Luther</h6>
                        <span>Sr. Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
