<section class="py-10 bg-primary">
    <div class="container">
        <div class="row counter">
            <div class="col-6 col-md-6 col-lg-3 mb-6 text-center">
                <div class="purecounter text-white h1 mb-1" data-purecounter-start="0" data-purecounter-end="650" data-purecounter-duration="2" data-purecounter-delay="10" data-purecounter-once="true">650</div>
                <span class="text-white-light font-w-600 after-50px bg-light-after pb-4">Happy clients</span>
            </div>
            <div class="col-6 col-md-6 col-lg-3 mb-6 text-center">
                <div class="purecounter text-white h1 mb-1" data-purecounter-start="0" data-purecounter-end="987" data-purecounter-duration="2" data-purecounter-delay="9" data-purecounter-once="true">987</div>
                <span class="text-white-light font-w-600 after-50px bg-light-after pb-4">Work completed</span>
            </div>
            <div class="col-6 col-md-6 col-lg-3 mb-6 text-center">
                <div class="purecounter text-white h1 mb-1" data-purecounter-start="0" data-purecounter-end="350" data-purecounter-duration="2" data-purecounter-delay="5" data-purecounter-once="true">350</div>
                <span class="text-white-light font-w-600 after-50px bg-light-after pb-4">Award winning</span>
            </div>
            <div class="col-6 col-md-6 col-lg-3 mb-6 text-center">
                <div class="purecounter text-white h1 mb-1" data-purecounter-start="0" data-purecounter-end="850" data-purecounter-duration="2" data-purecounter-delay="8" data-purecounter-once="true">850</div>
                <span class="text-white-light font-w-600 after-50px bg-light-after pb-4">Telephone calls</span>
            </div>
        </div>
    </div>
</section>
