<section class="py-6 py-md-9 py-lg-11 effect-section bg-primary">
    <div class="effect-shape"></div>
    <div class="container position-relative">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-5 my-3">
                <h2 class="mb-4 text-white">Get start with us!</h2>
                <p class="mb-3 text-white">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <ul class="list-unstyled mb-4">
                    <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2 text-white-50">We assist efficient business management</p></li>
                    <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2 text-white-50">We identify your requirements and design an ideal relationship structure to fit your needs</p></li>
                    <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2 text-white-50">Our latest thinking on the issues that matter most in business</p></li>
                </ul>
                <div>
                    <a class="btn btn-light" href="#">More about</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <img class="img-fluid" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
