<section class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1 after-50px bg-primary-after">Our Advisors</h3>
                <p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 my-3">
                <div class="hover-top-in text-center">
                    <div class="avatar-220 rounded-circle d-inline-block shadow border-all-10 border-white position-relative z-index-1">
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="mx-2 shadow rounded-lg position-relative mt-n5 bg-white pt-9 p-4 mx-3 text-center hover-top--in">
                        <h6 class="mb-2">Nancy Bayers</h6>
                        <small>Co-Founder</small>
                        <div class="social-icon si-30 primary radius nav justify-content-center pt-2">
                            <a href="#">{{> icons/themify/facebook}}</a>
                            <a href="#">{{> icons/themify/twitter-alt}}</a>
                            <a href="#">{{> icons/themify/linkedin}}</a>
                            <a href="#">{{> icons/themify/instagram}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 my-3">
                <div class="hover-top-in text-center">
                    <div class="avatar-220 rounded-circle d-inline-block shadow border-all-10 border-white position-relative z-index-1">
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="mx-2 shadow rounded-lg position-relative mt-n5 bg-white pt-9 p-4 mx-3 text-center hover-top--in">
                        <h6 class="mb-2">Nancy Bayers</h6>
                        <small>Co-Founder</small>
                        <div class="social-icon si-30 primary radius nav justify-content-center pt-2">
                            <a href="#">{{> icons/themify/facebook}}</a>
                            <a href="#">{{> icons/themify/twitter-alt}}</a>
                            <a href="#">{{> icons/themify/linkedin}}</a>
                            <a href="#">{{> icons/themify/instagram}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 my-3">
                <div class="hover-top-in text-center">
                    <div class="avatar-220 rounded-circle d-inline-block shadow border-all-10 border-white position-relative z-index-1">
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="mx-2 shadow rounded-lg position-relative mt-n5 bg-white pt-9 p-4 mx-3 text-center hover-top--in">
                        <h6 class="mb-2">Nancy Bayers</h6>
                        <small>Co-Founder</small>
                        <div class="social-icon si-30 primary radius nav justify-content-center pt-2">
                            <a href="#">{{> icons/themify/facebook}}</a>
                            <a href="#">{{> icons/themify/twitter-alt}}</a>
                            <a href="#">{{> icons/themify/linkedin}}</a>
                            <a href="#">{{> icons/themify/instagram}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 my-3">
                <div class="hover-top-in text-center">
                    <div class="avatar-220 rounded-circle d-inline-block shadow border-all-10 border-white position-relative z-index-1">
                        <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
                    </div>
                    <div class="mx-2 shadow rounded-lg position-relative mt-n5 bg-white pt-9 p-4 mx-3 text-center hover-top--in">
                        <h6 class="mb-2">Nancy Bayers</h6>
                        <small>Co-Founder</small>
                        <div class="social-icon si-30 primary radius nav justify-content-center pt-2">
                            <a href="#">{{> icons/themify/facebook}}</a>
                            <a href="#">{{> icons/themify/twitter-alt}}</a>
                            <a href="#">{{> icons/themify/linkedin}}</a>
                            <a href="#">{{> icons/themify/instagram}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
