<section class="section">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <label class="bg-primary-light font-w-500 px-4 py-1 text-primary rounded-pill mb-3">Apply Now</label>
                <h3 class="h1">Apply for this Job</h3>
                <p class="lead-sm">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-11 col-lg-9">
                <div class="card">
                    <div class="card-body p-5">
                        <form class="rd-mailform" method="post" action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label">Full Name</label>
                                        <input class="form-control" placeholder="Full Name" id="apply-name" type="text" name="name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label">Last Name</label>
                                        <input class="form-control" placeholder="Last Name" id="apply-lastname" type="text" name="last name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label">Your Email</label>
                                        <input class="form-control" placeholder="Your Email" id="apply-email" type="email" name="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label">Profile</label>
                                        <input class="form-control" placeholder="Linkedin username" id="apple-profile" type="text" name="profile">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <label class="form-label">In a Few Words</label>
                                        <textarea class="form-control" rows="6" name="answer" placeholder="How'd you hear about Front?" id="apple-comment" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center pt-2">
                                    <button class="btn btn-primary">Submit your application</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
