<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="p-5 p-md-6 shadow bg-white radius mb-6">
                    <h3 class="mb-3 h4">Your role at GhostStead</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <p class="m-0px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="p-5 p-md-6 shadow bg-white radius mb-6">
                    <h3 class="mb-3 h4">Your responsibilities</h3>
                    <ul class="list-type-04">
                        <li class="mt-1">Design websites, layouts, app interfaces and more.</li>
                        <li class="mt-1">Help to build/code/assemble these things.</li>
                        <li class="mt-1">Use WordPress, a lot.</li>
                        <li class="mt-1">Collaborate closely with your team members</li>
                        <li class="mt-1">Always learn somthing new</li>
                    </ul>
                </div>
                <div class="p-5 p-md-6 shadow bg-white radius mb-6">
                    <h3 class="mb-3 h4">Requirements</h3>
                    <ul class="list-type-04">
                        <li class="mt-1">Design websites, layouts, app interfaces and more.</li>
                        <li class="mt-1">Help to build/code/assemble these things.</li>
                        <li class="mt-1">Use WordPress, a lot.</li>
                        <li class="mt-1">Collaborate closely with your team members</li>
                        <li class="mt-1">Always learn somthing new</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 m-30px-t">
                <div class="swiper-container" data-slidesPerView="1" data-sm="1" data-md="1" data-lg="2" data-xl="2" data-xxl="2" data-spaceBetween="10">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide mb-3">
                            <img class="rounded img-fluid" src="{{asset "images/900x550.jpg"}}" title="" alt="">
                        </div>
                        <div class="swiper-slide mb-3">
                            <img class="rounded img-fluid" src="{{asset "images/900x550.jpg"}}" title="" alt="">
                        </div>
                        <div class="swiper-slide mb-3">
                            <img class="rounded img-fluid" src="{{asset "images/900x550.jpg"}}" title="" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#contentFor "scripts"}}
    <script async defer src="{{asset "built/js/swiper.js"}}"></script>
{{/contentFor}}
