<section class="parallax effect-section section" style="background-image: url({{asset "images/1600x900.jpg"}});">
    <div class="mask bg-primary opacity-9"></div>
    <div class="container position-relative">
        <div class="row justify-content-center pt-8">
            <div class="col-lg-8 text-center">
                <h1 class="h1 text-white">Senior Back End Developer</h1>
                <p class="lead text-white-light">Chicago, US, Full Time</p>
                <div class="nav justify-content-center">
                    <span class="bg-warning text-dark font-w-600 px-1 px-3 rounded-pill mx-1">
                        Design
                    </span>
                    <span class="bg-warning text-dark font-w-600 px-1 px-3 rounded-pill mx-1">
                        Design
                    </span>
                </div>
                <div class="row pt-4">
                    <div class="col-sm-4 my-3">
                        <div class="card shadow-lg">
                            <div class="card-body p-4">
                                <p class="mb-2">Experience</p>
                                <h5>8-10 Years</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <div class="card shadow-lg">
                            <div class="card-body p-4">
                                <p class="mb-2">Seniority level</p>
                                <h5>Entry Level</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <div class="card shadow-lg">
                            <div class="card-body p-4">
                                <p class="mb-2">Employment type</p>
                                <h5>Remote</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
