<section class="section bg-gray-100">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 text-center my-3">
                <div class="row counter">
                    <div class="col-sm-6 my-3">
                        <div class="text-center px-3 py-6 rounded text-white bg-danger">
                            <div class="purecounter text-white h1 mb-4" data-purecounter-start="0" data-purecounter-end="650" data-purecounter-duration="2" data-purecounter-delay="10" data-purecounter-once="true">650k</div>
                            <span class="rounded-pill px-3 py-1 text-danger font-w-600 bg-white">Happy clients</span>
                        </div>
                    </div>
                    <div class="col-sm-6 my-3">
                        <div class="text-center px-3 py-6 rounded text-white bg-warning">
                            <div class="purecounter text-white h1 mb-4" data-purecounter-start="0" data-purecounter-end="987" data-purecounter-duration="2" data-purecounter-delay="9" data-purecounter-once="true">987k</div>
                            <span class="rounded-pill px-3 py-1 text-warning font-w-600 bg-white">Work completed</span>
                        </div>
                    </div>
                    <div class="col-sm-6 my-3">
                        <div class="text-center px-3 py-6 rounded text-white bg-info">
                            <div class="purecounter text-white h1 mb-4" data-purecounter-start="0" data-purecounter-end="350" data-purecounter-duration="2" data-purecounter-delay="5" data-purecounter-once="true">350k</div>
                            <span class="rounded-pill px-3 py-1 text-info font-w-600 bg-white">Award winning</span>
                        </div>
                    </div>
                    <div class="col-sm-6 my-3">
                        <div class="text-center px-3 py-6 rounded text-white bg-success">
                            <div class="purecounter text-white h1 mb-4" data-purecounter-start="0" data-purecounter-end="850" data-purecounter-duration="2" data-purecounter-delay="8" data-purecounter-once="true">850k</div>
                            <span class="rounded-pill px-3 py-1 text-success font-w-600 bg-white">Telephone calls</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 my-3 ms-auto">
                <label class="bg-primary-light small font-w-500 px-4 py-2 text-primary rounded-pill mb-3">Our portal</label>
                <h2 class="mb-4">Set your priorities and align your teams</h2>
                <p class="lead mb-4">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <ul class="list-unstyled">
                    <div class="accordion bg-white" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button bg-white font-w-600 text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Can I change plans later on?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button bg-white font-w-600 text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What is the difference between pro and ultimate?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button bg-white font-w-600 text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Can I try before I buy?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Adipisicing elit lorem ipsum dolor sit amet, consectetur. Tempora, ab officiis ducimus commodi, quibusdam similique quam corporis.
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
