<section class="py-6 py-md-9 py-lg-11">
    <div class="container">
       <div class="row justify-content-around align-items-center">
            <div class="col-lg-5 my-3">
                <label class="bg-primary-light small font-w-500 px-4 py-2 text-primary rounded-pill mb-3">Our portal</label>
                <h2 class="mb-4">Set your priorities and align your teams</h2>
                <p class="lead mb-4">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                <ul class="list-unstyled">
                    <li class="d-flex my-3">
                        <span class="avatar p-2 bg-primary-light rounded text-primary">{{> icons/bootstrap/check}}</span>
                        <div class="col ps-3 align-self-center">We use the latest technologies it voluptatem accusantium doloremqu</div>
                    </li>
                    <li class="d-flex my-3">
                        <span class="avatar p-2 bg-primary-light rounded text-primary">{{> icons/bootstrap/check}}</span>
                        <div class="col ps-3 align-self-center">GhostStead Landing Page Build With Static Bombo HTML5 template Code</div>
                    </li>
                    <li class="d-flex my-3">
                        <span class="avatar p-2 bg-primary-light rounded text-primary">{{> icons/bootstrap/check}}</span>
                        <div class="col ps-3 align-self-center">Lightning-fast development with pre-built solutions with mombo</div>
                    </li>
                </ul>
                <div class="pt-3">
                    <a class="btn btn-primary" href="#">More about</a>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
        </div>
   </div>
</section>
