<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
            <div class="col-lg-8 col-xl-6">
                <h3 class="h1">Integration with world's top brands</h3>
                <p class="lead">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mt-3 mb-6">
                <div class="shadow bg-white hover-top rounded p-5">
                    <div class="avatar avatar-64 p-3 bg-primary text-white rounded shadow mb-3">
                        {{> icons/themify/wordpress}}
                    </div>
                    <h5 class="mb-3">Wordpress</h5>
                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                    <div class="pt-3">
                        <a class="fw-bold" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 mb-6">
                <div class="shadow bg-white hover-top rounded text-center p-5">
                    <div class="avatar avatar-64 p-3 bg-primary text-white rounded shadow mb-3">
                        {{> icons/themify/youtube}}
                    </div>
                    <h5 class="mb-3">YouTube</h5>
                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                    <div class="pt-3">
                        <a class="fw-bold" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 mb-6">
                <div class="shadow bg-white hover-top rounded text-end p-5">
                    <div class="avatar avatar-64 p-3 bg-primary text-white rounded shadow mb-3">
                        {{> icons/themify/vimeo-alt}}
                    </div>
                    <h5 class="mb-3">Vimeo</h5>
                    <p class="m-0">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
                    <div class="pt-3">
                        <a class="fw-bold" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
