<section class="py-6 py-md-9 py-lg-11">
    <div class="container">
        <div class="row flex-row-reverse align-items-center justify-content-between">
            <div class="col-lg-5 my-3">
                <h4 class="h2">Solve your problem very fast with GhostStead</h4>
                <p class="lead">GhostStead is a HTML5 template based on Sass and Bootstrap 4 with modern and creative</p>
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Fully Responsive</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Based On Bootstrap 4</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Built with Sass</p></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Built with customization</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Quality design</p></li>
                            <li class="d-flex py-2 align-items-center"><span class="avatar avatar-16 text-info">{{> icons/themify/check}}</span> <p class="m-0 col ps-2">Created technologies</p></li>
                        </ul>
                    </div>
                </div>
                <a class="btn btn-outline-primary" href="#">Learn More</a>
            </div>
            <div class="col-lg-7 my-3 text-center">
                <img class="img-fluid" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
