<section class="section">
    <div class="container">
        <div class="row flex-row-reverse align-items-center justify-content-between">
            <div class="col-lg-5 my-3">
                <h4 class="h2">Solve your problem very fast with GhostStead</h4>
                <p class="lead-sm">GhostStead is a HTML5 template based on Sass and Bootstrap 4 with modern and creative</p>
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <ul class="list-type-02 secondary">
                            <li>Fully Responsive</li>
                            <li>Based On Bootstrap 4</li>
                            <li>Built with Sass</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-type-02 secondary">
                            <li>Built with customization</li>
                            <li>Quality design</li>
                            <li>Created technologies</li>
                        </ul>
                    </div>
                </div>
                <a class="btn btn-outline-primary" href="#">Learn More</a>
            </div>
            <div class="col-lg-7 my-3 text-center">
                <img src="{{asset "images/500x500.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
