<section class="section bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-3">
                <div class="icon icon-lg bg-primary text-white mb-3">
                    {{> icons/et-line/tools}}
                </div>
                <h2 class="h2 mb-4">Replace your microservices with one simple GhostStead</h2>
                <div class="row">
                    <div class="col-sm-6 my-3">
                        <div class="media">
                            <div class="icon icon-lg bg-info rounded-circle shadow text-white">
                                {{> icons/themify/wordpress}}
                            </div>
                            <div class="media-body ps-3">
                                <h6 class="text-info mb-2">Wordpress</h6>
                                <p>Sed ut perspiciatis unde omnis iste natus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my-3">
                        <div class="media">
                            <div class="icon icon-lg bg-danger rounded-circle shadow text-white">
                                {{> icons/themify/youtube}}
                            </div>
                            <div class="media-body ps-3">
                                <h6 class="text-danger mb-2">YouTube</h6>
                                <p>Sed ut perspiciatis unde omnis iste natus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my-3">
                        <div class="media">
                            <div class="icon icon-lg bg-success rounded-circle shadow text-white">
                                {{> icons/themify/vimeo-alt}}
                            </div>
                            <div class="media-body ps-3">
                                <h6 class="text-success mb-2">Vimeo</h6>
                                <p>Sed ut perspiciatis unde omnis iste natus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my-3">
                        <div class="media">
                            <div class="icon icon-lg bg-warning rounded-circle shadow text-white">
                                {{> icons/themify/twitter-alt}}
                            </div>
                            <div class="media-body ps-3">
                                <h6 class="text-warning mb-2">Twitter</h6>
                                <p>Sed ut perspiciatis unde omnis iste natus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <img src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
            </div>
        </div>
    </div>
</section>
