<section class="py-6 py-md-9 py-lg-11 bg-gray-100">
    <div class="container">
        <div class="row justify-content-center text-center section-title">
			<div class="col-lg-8 col-xl-6">
				<h3 class="h1 after-50px bg-primary-after">Why choose us?</h3>
				<p>GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.</p>
			</div>
		</div>
        <div class="tab-style-3 pt-3">
            <ul class="nav nav-fill nav-tabs shadow-lg">
                <li class="nav-item">
                    <a href="#tab3_sec1" data-bs-toggle="tab" class="active">
                        <div class="tab-icon">
                            {{> icons/et-line/chat}}
                        </div>
                        <span>Discussion</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tab3_sec2" data-bs-toggle="tab">
                        <div class="tab-icon">
                            {{> icons/et-line/tools}}
                        </div>
                        <span>Creative concept</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tab3_sec3" data-bs-toggle="tab">
                        <div class="tab-icon">
                            {{> icons/et-line/megaphone}}
                            <i class="icon-one"></i>
                        </div>
                        <span>Production</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tab3_sec4" data-bs-toggle="tab">
                        <div class="tab-icon">
                            {{> icons/et-line/heart}}
                        </div>
                        <span>Happy client</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab3_sec1" class="tab-pane fade in active show">
                    <div class="row align-items-center pt-3 pt-lg-5">
                        <div class="col-lg-6 my-3 text-center">
                            <img class="img-fluid" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                        <div class="col-lg-6 my-3">
                            <div class="ps-lg-10">
                                <h2 class="h1 mb-4">Welcome to GhostStead <u class="text-primary">digital marketing</u></h2>
                                <p class="mb-2">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.
                                </p>
                                <div class="row">
                                    <div class="col-sm-6 my-3">
                                        <h5 class="text-primary h6 mb-2">Mobile friendly</h5>
                                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    </div>
                                    <div class="col-sm-6 my-3">
                                        <h5 class="text-primary h6 mb-2">Multiple layouts</h5>
                                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <a class="btn btn-primary" href="#">More about</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3_sec2" class="tab-pane fade in">
                    <div class="row align-items-center pt-3 pt-lg-5">
                        <div class="col-lg-6 my-3">
                            <div class="pe-lg-10">
                                <h2 class="h1 mb-4">Welcome to GhostStead <u class="text-primary">digital marketing</u></h2>
                                <p class="mb-2">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.
                                </p>
                                <div class="row">
                                    <div class="col-sm-6 my-3">
                                        <h5 class="text-primary h6 mb-2">Mobile friendly</h5>
                                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    </div>
                                    <div class="col-sm-6 my-3">
                                        <h5 class="text-primary h6 mb-2">Multiple layouts</h5>
                                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <a class="btn btn-primary" href="#">More about</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 my-3 text-center">
                            <img class="img-fluid" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                    </div>
                </div>
                <div id="tab3_sec3" class="tab-pane fade in">
                    <div class="row align-items-center pt-3 pt-lg-5">
                        <div class="col-lg-6 my-3 text-center">
                            <img class="img-fluid" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                        <div class="col-lg-6 my-3">
                            <div class="ps-lg-10">
                                <h2 class="h1 mb-4">Welcome to GhostStead <u class="text-primary">digital marketing</u></h2>
                                <p class="mb-2">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.
                                </p>
                                <div class="row">
                                    <div class="col-sm-6 my-3">
                                        <h5 class="text-primary h6 mb-2">Mobile friendly</h5>
                                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    </div>
                                    <div class="col-sm-6 my-3">
                                        <h5 class="text-primary h6 mb-2">Multiple layouts</h5>
                                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <a class="btn btn-primary" href="#">More about</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3_sec4" class="tab-pane fade in">
                    <div class="row align-items-center pt-3 pt-lg-5">
                        <div class="col-lg-6 my-3">
                            <div class="pe-lg-10">
                                <h2 class="h1 mb-4">Welcome to GhostStead <u class="text-primary">digital marketing</u></h2>
                                <p class="mb-2">GhostStead is a multipurpose Ghost theme based on Sass and Bootstrap 5 to help you build the perfect site.
                                </p>
                                <div class="row">
                                    <div class="col-sm-6 my-3">
                                        <h5 class="text-primary h6 mb-2">Mobile friendly</h5>
                                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    </div>
                                    <div class="col-sm-6 my-3">
                                        <h5 class="text-primary h6 mb-2">Multiple layouts</h5>
                                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <a class="btn btn-primary" href="#">More about</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 my-3 text-center">
                            <img class="img-fluid" src="{{asset "images/1000x1000.jpg"}}" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
